### Things to note

"\n"  = Backslash followed by n denotes a new line
"\t"  = denotes a tab
"\w"  = matches alpha numeric characters [a-zA-Z0-9_]
"\W"  = opposite of \w  ; so nothing in [a-zA-Z0-9_]
"\s"  = matches any whitespace charecter # New lines, tabs, spaces etc
"\S"  = matches any non-whitespace charecter #~\s
"\d"  = matches digits [0-9]
"\D"  = matches this matches any non-digit character; ~\d

- r expression, that voids the python's special characters

- r'n' means it's a raw string with two characters 'n' and '\' as opposed to   just one special character

Regular expressions are used to match string patterns.

- They are very powerful
- If you want to pull out a string pattern RE can do it

In [1]:
import re
re.search('n', '\\n') # First item is the pattern, and the second item is the string

In [2]:
re.search('n', '\n\n\n\n\n\n\n\n\n\n\n\n\n\n') # Not the best way if we have too many \s

In [3]:
re.search('n', r'\n\n\n\n\n\n\n\n\n\n\n\n\n\n') # r converts to raw string

In [4]:
# regular expression has its own special characters as well
# regex with '\n' and r'\n' both look for new line

re.search('\n', '\n\n\n\n\n\n\n\n\n\n\n\n')

In [5]:
re.search(r'\n', '\n\n') # This also works as well because r'\n' also looks for new line

In [6]:
# doesn't work because string doesn't use newline and r'\n' looks for new line

re.search(r'\n', r'\n\n')

## MATCH AND SEARCH

REs common methods "Match" and "Search"

re.search(pattern, string, flags)   # searches anyware in the sentence
                                    # flage special options
    
re.match(pattern, string, flags)    # only beginning of the string

#### Examples

In [7]:
re.match("c", "abcdef") # returns none because only looks at the start of the string

In [8]:
bool(re.match("c", "abcdef")) # No match then returns boolean False

False

In [9]:
bool(re.match("a", "abcdef")) # match returns True

True

In [10]:
re.search("c", "abcdef") # search anywhere

In [11]:
re.search("c", "abcdef") # tels you where it matched first and only first

In [12]:
re.search("c", "abcdefc") # multiple c's first instance only

In [13]:
re.search("c", "abdef\nc") # multiple line sworks with search

In [14]:
re.match("c", "abcdef\nc") # match doesn't work with newline

## Printhing the output of Match and Search

In [15]:
re.match("a", "abcdef") # match objects

In [16]:
re.match("a", "abcdef").group() # string output default value is 0

'a'

In [17]:
re.match("a", "abcdef").group(0)

'a'

In [18]:
re.search("a", "abcdef").group() # also works with search

'a'

In [19]:
re.search('n.+', 'abcdefnc abcd').group() # pull out different types of strings

'nc abcd'

In [20]:
re.search("c", "abcdef\nc").start() # gives the starting index

2

In [21]:
re.search("c", "abcdef\nc").end() # gives the ending index

3

## LITERAL MATCHING

In [22]:
re.search("na", "abcdefnc abcd") # doesn't work because they are ordered

In [23]:
re.search("n|a", "abcdefnc abcda") # n or a

In [24]:
re.search("n|a", "bcdefnc abcda") #

In [25]:
re.search("n|a|b", "abcdefnc abcda") # as many OR expressions

### re.findall

In [26]:
re.findall("n|a", "abcdefnc abcda") # findall pulls out all instances

['a', 'n', 'a', 'a']

In [27]:
re.search("abcd", "abcdefnc abcd") # multiple characters - literal search

In [28]:
re.search("abcd", "abcdefnc abcd").group()

'abcd'

In [29]:
re.findall("abcd", "abcdefnc abcd")

['abcd', 'abcd']

## CHARACTER SETS

Character sets can match a set of characters

In [30]:
re.search("abcd", "abcdefnc abcd") # earlier code

In [31]:
re.search(r'\w\w\w\w', 'abcdefnc abcd').group() # matches characters and numbers

'abcd'

"\w"  = matches alpha numeric characters [a-zA-Z0-9_]
"\W"  = opposite of \w  ; so nothing in [a-zA-Z0-9_]
"\s"  = matches any whitespace charecter, Ex: New lines, tabs, spaces etc
"\S"  = matches any non-whitespace charecter, Ex: ~\s
"\d"  = matches digits [0-9]
"\D"  = matches this matches any non-digit character; ~\d
"\n"  = Backslash followed by n denotes a new line
"\t"  = denotes a tab

In [32]:
re.search(r'\w\w\w\w', 'ab_cdefnc abcd') # matches "_" character

In [33]:
re.search(r'\w\w\w', 'a3.!-!') # doesn't match symbols only numbers and characters

In [34]:
re.search(r'\w\w\w', 'a33.!-!').group()

'a33'

In [35]:
re.search(r'\w\w\W', 'a3.!-!') # \W matches non characters and numbers

In [36]:
re.search(r'\w\w\W\W', 'a3 .!-!').group() # matches empty spaces as well

'a3 .'

## QUANTIFIERS

# quantifiers
'+'     = 1 or more
'?'     = 0 or 1
'*'     = 0 or more
'{n,m}' = n to m repetitions {,3}, {3,}

In [37]:
re.search(r'\w+', 'abcdefnc abcd').group()

'abcdefnc'

In [38]:
re.search(r'\w+\W+\w+', 'abcdefnc abcd').group() # to pull out everything

'abcdefnc abcd'

In [39]:
re.search(r'\w+\W+\w+', 'abcdefnc          abcd').group() # added more spaces

'abcdefnc          abcd'

In [40]:
re.search(r'\w+\W?\w+', 'abcdefncabcd').group() # ? - 0 or 1 instances

'abcdefncabcd'

In [41]:
re.search(r'\w+\W?\w+', 'abcdefnc abcd').group()

'abcdefnc abcd'

In [42]:
re.search(r'\w+\W+\w+', 'abcdefncabcd') # not works

Pulling out specific amounts

In [43]:
re.search(r'\w{3}', 'aaaaaaaaaaa') # only 3 \w values

In [44]:
re.search(r'\w{1,4}', 'aaaaaaaaaaa').group() # 1 is min, 4 is max

'aaaa'

In [45]:
re.search(r'\w{1,10}\W{0,4}\w+', 'abcdefnc abcd').group() # 1-10 \w characters
                                                          # 0-4  \W characters
                                                          # 1+   \w characters

'abcdefnc abcd'

In [46]:
re.search(r'\w{1,}\W{0,}\w+', 'abcdefnc abcd').group()    # at least 1 \w characters
                                                          # at least 0 \W characters
                                                          # 1 or more \w characters

'abcdefnc abcd'

## OTHER TYPES OF CHARACTER SETS

'\d'  =  matches digits [0-9]
'\D'  =  matches this matches any non-digit character; ~\d

In [47]:
string = '23sfghefghrw++'
re.search('\d+', string).group()

'23'

'\s'  = matches any whitespace charecter # New lines, tabs, spaces etc
'\S'  = matches any non-whitespace charecter #~\s

In [48]:
string = '23sfghefghrw++'
re.search('\S+', string).group()  # No spaces

'23sfghefghrw++'

In [49]:
string = 'This project aims to detect Alzheimer’s Disease from the MRI scans ( in .nii extension) given as input. It involves several pre-processing steps such as skull stripping, bias correction and segmentation. Once the segmentation is completed, three 2D slices (axial, coronnal, saggital) are extracted from the segmented MRI Image. In this manner the dataset is prepared which is then used for training a simple CNN. Here, the problem is approached in two methods. One method is to prepare a single dataset wherein the axial,coronnal and saggital images are present within each class which is then fed into a single classifier. Another method is to prepare three datasets (each contain only one kind of data) which is then fed into three classifiers (Axial, Coronnal and Saggital). When compared, it was observed that the combined classifier(Axial,Coronnal,Saggital- 95%) has more accuracy than the single classifier (86%).'
print(string)

This project aims to detect Alzheimer’s Disease from the MRI scans ( in .nii extension) given as input. It involves several pre-processing steps such as skull stripping, bias correction and segmentation. Once the segmentation is completed, three 2D slices (axial, coronnal, saggital) are extracted from the segmented MRI Image. In this manner the dataset is prepared which is then used for training a simple CNN. Here, the problem is approached in two methods. One method is to prepare a single dataset wherein the axial,coronnal and saggital images are present within each class which is then fed into a single classifier. Another method is to prepare three datasets (each contain only one kind of data) which is then fed into three classifiers (Axial, Coronnal and Saggital). When compared, it was observed that the combined classifier(Axial,Coronnal,Saggital- 95%) has more accuracy than the single classifier (86%).

In [50]:
# To extract all the words from the string to a list.
re.findall('\S+', string)

['This',
 'project',
 'aims',
 'to',
 'detect',
 'Alzheimer’s',
 'Disease',
 'from',
 'the',
 'MRI',
 'scans',
 '(',
 'in',
 '.nii',
 'extension)',
 'given',
 'as',
 'input.',
 'It',
 'involves',
 'several',
 'pre-processing',
 'steps',
 'such',
 'as',
 'skull',
 'stripping,',
 'bias',
 'correction',
 'and',
 'segmentation.',
 'Once',
 'the',
 'segmentation',
 'is',
 'completed,',
 'three',
 '2D',
 'slices',
 '(axial,',
 'coronnal,',
 'saggital)',
 'are',
 'extracted',
 'from',
 'the',
 'segmented',
 'MRI',
 'Image.',
 'In',
 'this',
 'manner',
 'the',
 'dataset',
 'is',
 'prepared',
 'which',
 'is',
 'then',
 'used',
 'for',
 'training',
 'a',
 'simple',
 'CNN.',
 'Here,',
 'the',
 'problem',
 'is',
 'approached',
 'in',
 'two',
 'methods.',
 'One',
 'method',
 'is',
 'to',
 'prepare',
 'a',
 'single',
 'dataset',
 'wherein',
 'the',
 'axial,coronnal',
 'and',
 'saggital',
 'images',
 'are',
 'present',
 'within',
 'each',
 'class',
 'which',
 'is',
 'then',
 'fed',
 'into',
 'a',
 'single',
 'classifier.',
 'Another',
 'method',
 'is',
 'to',
 'prepare',
 'three',
 'datasets',
 '(each',
 'contain',
 'only',
 'one',
 'kind',
 'of',
 'data)',
 'which',
 'is',
 'then',
 'fed',
 'into',
 'three',
 'classifiers',
 '(Axial,',
 'Coronnal',
 'and',
 'Saggital).',
 'When',
 'compared,',
 'it',
 'was',
 'observed',
 'that',
 'the',
 'combined',
 'classifier(Axial,Coronnal,Saggital-',
 '95%)',
 'has',
 'more',
 'accuracy',
 'than',
 'the',
 'single',
 'classifier',
 '(86%).']

In [51]:
# To join every words
' '.join(re.findall('\S+', string))

'This project aims to detect Alzheimer’s Disease from the MRI scans ( in .nii extension) given as input. It involves several pre-processing steps such as skull stripping, bias correction and segmentation. Once the segmentation is completed, three 2D slices (axial, coronnal, saggital) are extracted from the segmented MRI Image. In this manner the dataset is prepared which is then used for training a simple CNN. Here, the problem is approached in two methods. One method is to prepare a single dataset wherein the axial,coronnal and saggital images are present within each class which is then fed into a single classifier. Another method is to prepare three datasets (each contain only one kind of data) which is then fed into three classifiers (Axial, Coronnal and Saggital). When compared, it was observed that the combined classifier(Axial,Coronnal,Saggital- 95%) has more accuracy than the single classifier (86%).'

. the dot matches any character except the new line'

In [52]:
string = """This project aims to detect Alzheimer’s Disease from the MRI scans ( in .nii extension) given as input. 
It involves several pre-processing steps such as skull stripping, bias correction and segmentation. 
Once the segmentation is completed, three 2D slices (axial, coronnal, saggital) are extracted from the segmented MRI Image. 
In this manner the dataset is prepared which is then used for training a simple CNN. Here, the problem is approached in two methods. 
One method is to prepare a single dataset wherein the axial,coronnal and saggital images are present within each class which is then fed into a single classifier. 
Another method is to prepare three datasets (each contain only one kind of data) which is then fed into three classifiers (Axial, Coronnal and Saggital). 
When compared, it was observed that the combined classifier(Axial,Coronnal,Saggital- 95%) has more accuracy than the single classifier (86%)."""

In [53]:
re.search('.+', string).group() # no new line (Only get the first line of the paragraph)

'This project aims to detect Alzheimer’s Disease from the MRI scans ( in .nii extension) given as input. '

In [54]:
re.search('.+', string, flags = re.DOTALL).group() # get all lines with '\n' seperation

'This project aims to detect Alzheimer’s Disease from the MRI scans ( in .nii extension) given as input. \nIt involves several pre-processing steps such as skull stripping, bias correction and segmentation. \nOnce the segmentation is completed, three 2D slices (axial, coronnal, saggital) are extracted from the segmented MRI Image. \nIn this manner the dataset is prepared which is then used for training a simple CNN. Here, the problem is approached in two methods. \nOne method is to prepare a single dataset wherein the axial,coronnal and saggital images are present within each class which is then fed into a single classifier. \nAnother method is to prepare three datasets (each contain only one kind of data) which is then fed into three classifiers (Axial, Coronnal and Saggital). \nWhen compared, it was observed that the combined classifier(Axial,Coronnal,Saggital- 95%) has more accuracy than the single classifier (86%).'

## CREATING YOUR OWN CHARACTER SETS

[A-Z]  '-' is a metacharacter when used in [] (custom character sets)

In [55]:
string = 'Hello, There, How, Are, You'

In [56]:
re.findall('[A-Z]', string) # pull out all capital letters

['H', 'T', 'H', 'A', 'Y']

In [57]:
re.findall('[A-Z,]', string) # here we search for any capital letters or a comma.

['H', ',', 'T', ',', 'H', ',', 'A', ',', 'Y']

In [58]:
string = 'Hello, There, How, Are, You...'
re.findall('[A-Z,.]', string)

['H', ',', 'T', ',', 'H', ',', 'A', ',', 'Y', '.', '.', '.']

In [59]:
string = 'Hello, There, How, Are, You...'
re.findall('[A-Za-z,\s.]', string)

['H',
 'e',
 'l',
 'l',
 'o',
 ',',
 ' ',
 'T',
 'h',
 'e',
 'r',
 'e',
 ',',
 ' ',
 'H',
 'o',
 'w',
 ',',
 ' ',
 'A',
 'r',
 'e',
 ',',
 ' ',
 'Y',
 'o',
 'u',
 '.',
 '.',
 '.']

## QUANTIFIERS WITH CUSTOM SETS

+ - or more(as many as can)
? - optional(either zero or one)
*
{} - for limit

In [60]:
string = 'HELLO, There, How, Are, You...'

In [61]:
re.findall('[A-Z]+', string)

['HELLO', 'T', 'H', 'A', 'Y']

In [62]:
re.findall('[A-Z]{2,}', string) # 2 or more capital letters

['HELLO']

In [63]:
re.search('[A-Za-z\s,]+', string).group()

'HELLO, There, How, Are, You'

In [64]:
re.findall('[A-Z]?[a-z\s,]+', string) #@@@@@@@@

['O, ', 'There, ', 'How, ', 'Are, ', 'You']

In [65]:
re.search('[^A-Za-z\s,]+', string).group() # ^ is a metacharacter within brackets ( ^ - not)

'...'

In [66]:
re.findall('[^A-Z]+', string) # to get all non capital letter objects

[', ', 'here, ', 'ow, ', 're, ', 'ou...']

## GROUPS

Group allo us to pull out sections of a match and store them

In [67]:
# Contrived example
import re
string = 'John has 6 cats but I think my friend Susan has 3 dogs and Mike has 8 fishes'

In [68]:
re.findall('[A-Za-z]+ \w+ \d+ \w+', string)

['John has 6 cats', 'Susan has 3 dogs', 'Mike has 8 fishes']

the use of brackets denotes a group
() = Metacharacter

In [69]:
# Group example Starts here

In [70]:
 re.findall('([A-Za-z]+) \w+ \d+ \w+', string) # To pull out just the names

['John', 'Susan', 'Mike']

In [71]:
re.findall('[A-Za-z]+ \w+ \d+ (\w+)', string) # To pull out the animals

['cats', 'dogs', 'fishes']

In [72]:
re.findall('([A-Za-z]+) \w+ (\d+) (\w+)', string) # The output is get as tuples.

[('John', '6', 'cats'), ('Susan', '3', 'dogs'), ('Mike', '8', 'fishes')]

In [73]:
# Organize the data by data-types

info = re.findall('([A-Za-z]+) \w+ (\d+) (\w+)', string)

In [74]:
info # The output is get as list of tuples.

[('John', '6', 'cats'), ('Susan', '3', 'dogs'), ('Mike', '8', 'fishes')]

In [75]:
list(zip(*info)) # Organize the data by categories
                 # The output is get as list of tuples.
                 # The data is organized using index method.

[('John', 'Susan', 'Mike'), ('6', '3', '8'), ('cats', 'dogs', 'fishes')]

In [76]:
match = re.search('([A-Za-z]+) \w+ (\d+) (\w+)', string)
match
# Only pull out the entire match.

In [77]:
match.group(0) # get the first string

'John has 6 cats'

In [78]:
match.groups() # get all groups

('John', '6', 'cats')

In [79]:
match.group(1) # Select group

'John'

In [80]:
match.group(2) # Select group

'6'

In [81]:
match.group(1,2) # Multiple group

('John', '6')

In [82]:
match.group(3,2,1,1)

('cats', '6', 'John', 'John')

In [83]:
string

'John has 6 cats but I think my friend Susan has 3 dogs and Mike has 8 fishes'

In [84]:
match.span() # the index of beginning and end of the string.

(0, 15)

In [85]:
match.span(2)

(9, 10)

In [86]:
re.findall('([A-Za-z]+) \w+ (\d+) (\w+)', string)[0]

('John', '6', 'cats')

In [87]:
re.findall('([A-Za-z]+) \w+ (\d+) (\w+)', string)

[('John', '6', 'cats'), ('Susan', '3', 'dogs'), ('Mike', '8', 'fishes')]

In [88]:
data = re.findall('(([A-Za-z]+) \w+ (\d+) (\w+))', string)
data

[('John has 6 cats', 'John', '6', 'cats'),
 ('Susan has 3 dogs', 'Susan', '3', 'dogs'),
 ('Mike has 8 fishes', 'Mike', '8', 'fishes')]

In [89]:
for i in data:
    print(i[0])

John has 6 cats
Susan has 3 dogs
Mike has 8 fishes

In [90]:
for i in data:
    print(i[3])

cats
dogs
fishes

We can use "iteration"

In [91]:
it = re.finditer('([A-Za-z]+) \w+ (\d+) (\w+)', string)

In [92]:
next(it).group()   # Iterating and didn't save

'John has 6 cats'

In [93]:
 for element in it:
        print(element.group(1, 3, 2))

('Susan', 'dogs', '3')
('Mike', 'fishes', '8')

In [94]:
 for element in it:
        print(element.group())

In [95]:
for element in it:
    print(element.groups())

## NAMING GROUPS

Help the code to get more readable.
Can pullout each group by their respective names.

In [96]:
import re

In [97]:
string = 'Nem York, New York 11369'

([A-Za-z\s]+)
([A-Za-z\s]+)
(\d+)

In [98]:
match = re.search('([A-Za-z\s]+),([A-Za-z\s]+) (\d+)', string)
print(match)

<re.Match object; span=(0, 24), match='Nem York, New York 11369'>

In [99]:
match.group(1), match.group(2), match.group(3), match.group(0)

('Nem York', ' New York', '11369', 'Nem York, New York 11369')


?p<Name_of_the_group>   # To name a group-- grouo name inside the <>, followed by RE for group

(?P<City>)       (?P<State>)       (?P<ZipCode>)

In [100]:
# Combine the Name of the group with regular expression.
# re.compile is a clean way to save the pattern.
pattern = re.compile('(?P<City>[A-Za-z\s]+),(?P<State>[A-Za-z\s]+) (?P<ZipCode>\d+)')

In [101]:
match = re.search(pattern, string)

In [102]:
match.group('City'), match.group('State'), match.group('ZipCode')

('Nem York', ' New York', '11369')

In [103]:
match.group(1)

'Nem York'

In [104]:
match.groups()

('Nem York', ' New York', '11369')

In [105]:
# Just incase if you forget the names of the groups you used.

match.groupdict()

{'City': 'Nem York', 'State': ' New York', 'ZipCode': '11369'}

## Quantifiers On Groups

- Using quantifiers on groups has some nuances, but very useful

In [106]:
import re

In [107]:
string = 'abababababab'     # ab repeated many times

re.search('(ab)+', string)  # (ab)+ is many instances of one group repeated

In [108]:
string = 'abababababab'     # ab repeated many times

re.search('[ab]+', string)  # This is different

In [109]:
string = 'abababbbbbbb'

re.search('(ab)+', string)   # Only search the combination of ab.

In [110]:
string = 'abababbbbbbb'

re.search('[ab]+', string)   # Get all the "a" or "b" no matter what pattern.

In [111]:
# Allows flexibility

string = 'abababbbbbbb'

re.search('(ab)+\w+', string)   # Get all the combination of "ab" and then get all the alpha-numeric characters.

### Nuances to be Wary of

- Only one group not multiple groups.

In [112]:
string = 'abababababab' # Original string

match = re.search('(ab)+', string)

match.group(1)  # Capturing only one group; Value is overwritten each time.

'ab'

In [113]:
match.groups()  # We only have one group

('ab',)

In [114]:
match.group()  # The full match, Not related to groups.

'abababababab'

In [115]:
string = 'abababababab' # Original string

In [116]:
# Here 2 grups and quanifiers

match = re.search('(ab)+(ab)+', string)  # The first group collects the whole string('abababababab') and then the second group collects only the last 'ab' to satisfie the condtion.
match

In [117]:
match.groups()  # Two groups

('ab', 'ab')

In [118]:
match.span(2)  # The first group is greedy.

(10, 12)

Only one value captured.

In [119]:
string = '123456789'

match = re.search('(\d)+', string)

In [120]:
match  # Match is the entire string.(Full pattern still retained.)

In [121]:
match.groups()  # Only one group(final one); The value is get updated by the last possible value. 
                # Each numer is a group in this example and all the groups are satisfies the condition.

('9',)

### Quantifiers With Groups Within Findall

In [122]:
string = '123456789'
re.findall('(\d)+', string)

['9']

In [123]:
string = '1234 56789'

re.findall('(\d)+', string)  # Here we have 2 matches.
                             # Final value of the each two groups.

['4', '9']

In [124]:
re.findall('((\d)+)', string)

# To find full match create a main group engulfing the smaller groups.
# Will get the whole pattern and the subgroups.

[('1234', '4'), ('56789', '9')]

In [125]:
re.findall('((\d)+)', string)[0][0]

'1234'

In [126]:
re.findall('((\d)+)', string)[0][1]

'4'

In [127]:
re.findall('((\d)+)', string)[1][0]

'56789'

In [128]:
re.findall('((\d)+)', string)[1][1]

'9'

In [129]:
# Another example

string = 'abbbbb abababababab'
re.findall('((ab)+)', string)

[('ab', 'ab'), ('abababababab', 'ab')]

### Groups for word completin

In [130]:
re.search('Happy (Valentines|Birthday|Anniversary)', 'Happy Birthday')

In [131]:
re.search('Happy (Valentines|Birthday|Anniversary)', 'Happy Valentines')

## Non-Capture Groups

In [132]:
# Here is one such example:

import re
string = '1234 56789'

re.findall('(\d)+', string)

['4', '9']

In [133]:
re.search('(\d)+', string).groups()  # Using search

('4',)

Non-capture groups syntax

?:

The symbol above represents non-capture groups and look slightly similar to the syntax for naming groups(?P).

?P = Didn't confuse the two.

In [134]:
# Comparison

In [135]:
re.findall('(\d)+', string)

['4', '9']

In [136]:
re.findall('(?:\d)+', string)  # with non-capture group.

# the group converted to non-capture group.

['1234', '56789']

In [137]:
# So the group is part of the pattern, but we don't output the groups.

In [138]:
re.findall('\d+', string)  # when output has no groups.
                           # we output entire match.

['1234', '56789']

In [139]:
# Another example
# We want to pull out all the names whose ID's haS '123' pattern within in.

string = '123123 = Alex, 123123123 = Danny, 123123123123 = Mike, 456456 = Rick, 121212 = John, 132132 = Nandu,'

In [140]:
re.findall('(?:123)+ = (\w+),', string)  # Three instances

['Alex', 'Danny', 'Mike']

In [141]:
# Another Example
# We want to find two or more 1* combinations.
string = '1*1*1*1*22222 1*1*3333 2*1*2*1*222 1*2*2*2*333 3*3*3*444'

In [142]:
re.findall(r'(?:1\*){2,}\d+', string)

['1*1*1*1*22222', '1*1*3333']

In [143]:
# Now, non-captured groups doesn't just affect the findall method.
# It also affects the search and match method.

In [144]:
string = '1234 56789'

match = re.search('(?:\d)+', string)
print(match.groups())

()

Summary:
    
    When we captue groups we are either storing the value or outputting them.

### Backreferences - Using captured groups inside other operations

Backreferencings make a references to the captured group with in the same regular expression.

\1 = is just referencing the first group with in the regular expression.

r'(\w+) \1'

In [145]:
# Syntax and Example:

re.search(r'(\w+) \1', 'Merry Merry Christmas')  # Looking for the repeated words.

In [146]:
re.search(r'(\w+) \1', 'Merry Merry Christmas').group()

'Merry Merry'

In [147]:
re.search(r'(\w+) \1', 'Merry Merry Christmas').groups()

('Merry',)

In [148]:
# Want to look for repeated words
# Looking for the bunch of repeated words.

re.findall(r'(\w+) \1', 'Happy Happy Holidays.Merry Christmas Christmas')

['Happy', 'Christmas']

In [149]:
# Another Example:

re.findall(r'(\w+) \1', 'Merry Merry Christmas Christmas Merry Merry Christmas')

['Merry', 'Christmas', 'Merry']

## Flags, Split, Sub

In [150]:
import re

In [151]:
string = """U.S. stock-index futures pointed
to a solidly higher open on
Monday, indicating that major benchmarks were poised to rebound
from last week's sharp decline,
which represented their biggest weekly drops in months.
That weekness was driven in part by
fears over North Korea, where tensions
with the U.S. have been escalating.
North Korea. That issue overshadowed the state of 
the equity market, where earnings 
have been strong at a time of high
employment and low inflation,
as well as valuation that appear
elavated by many metrics, north korea North Korea."""


^ = Matches at beginning of stirng(Basically present at the beginning of the string)
$ = Matches at end of string(Usually comes at the end of the string)

In [152]:
# Below examples are the same

re.search('^North Korea\.?', string)  # No results; Because there is no "North Korea" in the beginning of the string.

In [153]:

re.match('North Korea\.?', string)  # "re.match " is also only looks at the beginning of the string.

In [154]:

re.search('North Korea\.?$', string).group()  # "North Korea" is present at the end of the string.

'North Korea.'

### re.MULTILINE/ re.M

To will help to search the beginnig of each line.

In [155]:
re.search('^North Korea\.?', string, flags = re.MULTILINE) # North Korea present at the index 324,336.

In [156]:
# Cannot work with "re.match" only works with "re.search"

re.match('^North Korea\.?', string, flags = re.MULTILINE)  # No output

### re.IGNORECASE/ re.l

Works with capital letters and non-capital letters and with the combination of words(noRtH KorEA).

In [157]:
re.findall('North Korea', string, flags = re.IGNORECASE)

['North Korea', 'North Korea', 'north korea', 'North Korea']

### re.DOTALL/ re.S

In [158]:
# Grabs the first line only
# Only used with "." character

re.match('.*', string).group()

'U.S. stock-index futures pointed'

In [159]:
# If you want to include new lines

re.match('.*', string, flags = re.DOTALL).group()  # Get the entire string

"U.S. stock-index futures pointed\nto a solidly higher open on\nMonday, indicating that major benchmarks were poised to rebound\nfrom last week's sharp decline,\nwhich represented their biggest weekly drops in months.\nThat weekness was driven in part by\nfears over North Korea, where tensions\nwith the U.S. have been escalating.\nNorth Korea. That issue overshadowed the state of \nthe equity market, where earnings \nhave been strong at a time of high\nemployment and low inflation,\nas well as valuation that appear\nelavated by many metrics, north korea North Korea."

Other flags:
    re.ASCII   # For other languages
    re.DEBUG   # For debugging purposes
    re.LOCALE

## re.methods

### re.split

In [160]:
# Example 1:

re.split('\.', 'Today is sunny. I want go to the park. I want to eat ice cream.')

# The split points is not included in the output stirng.

['Today is sunny', ' I want go to the park', ' I want to eat ice cream', '']

In [161]:
re.split('(\.)', 'Today is sunny. I want go to the park. I want to eat ice cream.')

# To add split points to the output string just put a brackets around "\."

['Today is sunny',
 '.',
 ' I want go to the park',
 '.',
 ' I want to eat ice cream',
 '.',
 '']

In [162]:
# Using list comprehension

split = '.'
[item+split for item in re.split('\.', 'Today is sunny. I want go to the park. I want to eat ice cream.')]

['Today is sunny.',
 ' I want go to the park.',
 ' I want to eat ice cream.',
 '.']

In [163]:
# Example 2:

string = '<p>My mother has <span style="color:blue">blue</span>eyes.</p>'

In [164]:
re.split('<\w+>', string)   # Doesn't work

['', 'My mother has <span style="color:blue">blue</span>eyes.</p>']

<> = Character set
^  = Used in the beginning of the string

In [165]:
re.split("<[^<>]+>", string)  # Captures everything except the open and closed brackets; <>

# The empty strings also present in the output string.

['', 'My mother has ', 'blue', 'eyes.', '']

In [166]:
# Another example of split and empty string problem

re.split(',', ',happy, birthday,') # it seems to split at empty 

# The empty strings also present in the output string.

['', 'happy', ' birthday', '']

### Handling empty string problem

In [167]:
# Using list comprehension to eliminate the empty string.

[i for i in re.split("<[^<>]+>", string) if i !='']

['My mother has ', 'blue', 'eyes.']

#### Alternatives to split:

In [168]:
string = string = '<p>My mother has <span style="color:blue">blue</span>eyes.</p>'

In [169]:
# Using "re.findall" method to eliminate the empty string.

re.findall('>([^<]+)<', string)   # Using "re.findall"

#   ^<  =  eliminate open brackets

['My mother has ', 'blue', 'eyes.']

In [170]:
string = re.split(',', ',happy, birthday,')

re.split(',', ',happy, birthday,')

['', 'happy', ' birthday', '']

In [171]:
# Using list-filter method to eliminate the empty string.

string = 'happy, birthday,'

list(filter(None, string.split(',')))  # The "None" is filter out if there is any empty strings

['happy', ' birthday']

### re.sub

Able to replace the words.

In [173]:
string = """U.S. stock-index futures pointed
to a solidly higher open on Monday, 
indicating that major 
benchmarks were poised to USA rebound from last week's sharp decline,
which represented their biggest weekly drops in months."""

In [174]:
print(re.sub('U.S.|US|USA', 'United States ', string))

United States  stock-index futures pointed
to a solidly higher open on Monday,
indicating that major
benchmarks were poised to United States A rebound from last week's sharp decline,
which represented their biggest weekly drops in months.

### Using Functions with Groups

In [175]:
# Brief explanation of lambda:

In [176]:
# Explanatin for the simple function

def squares(x):
    return(x**2)

squares(3)

9

In [177]:
# Lambda example

square = lambda x : x**2

square(3)

9

In [178]:
# Using lambda to a string

string = 'Dan has 3 snails. Mike has 4 cats. Alisa has 9 monkeys.'

In [179]:
re.search('(\d+)', string).group()

'3'

In [180]:
re.findall('(\d+)', string)

['3', '4', '9']

In [183]:
re.sub('(\d+)', '1', string)  # Here the numbers replaced by 1.

'Dan has 1 snails. Mike has 1 cats. Alisa has 1 monkeys.'

In [185]:
# Example:

# Get the square of the numbers in the string and replace with it. 

re.sub('(\d+)', lambda x : str(square(int(x.group(0)))), string)

# The numbers get squared.

#Step 1 : lambda x : x.group; "x" is a match object
#Step 2 : turn the result into int
#Step 3 : Use Square function
#Step 4 : turn back to string

'Dan has 9 snails. Mike has 16 cats. Alisa has 81 monkeys.'

In [188]:
# Example:

# Use lambda to add "ing" to all words
# m = match object

import re

input = "eat laugh sleep study"   # The input string

result = re.sub("\w+", lambda m : m.group() + "ing", input)

print(result)   # Display output

eating laughing sleeping studying

### Backreferencing with subs

In [189]:
string = 'Merry Merry Christmas'

In [191]:
# Check duplicate words using backreferencing.

re.search(r'(\w+ )(\1)', string).groups()

('Merry ', 'Merry ')

In [194]:
re.search(r'(\w+ )(\1)', string).group(1,2)

('Merry ', 'Merry ')

Backreferencing example with sub

In [196]:
# Replace first "Merry" with "Happy"

re.sub(r'(\w+) (\1)', r'Happy \1', string)   # \1 = Merry

'Happy Merry Christmas'

In [198]:
# Replace second "Merry" with "Happy"

re.sub(r'(\w+) (\1)', r'\1 Happy', string)

'Merry Happy Christmas'

In [199]:
re.sub(r'(\w+) (\1)', r'Happy \2', string)

'Happy Merry Christmas'

## \b meta character

# \b is called 'boundary' and allows you to isolate words.
- is similar to ^ and $ (location and no consumption)

In [200]:
import re
string = 'cat catherine catholic wildcat copycat uncatchable'

In [203]:
# It just looks for the word "cat" in the instances rather than the whole word.

pattern = re.compile('cat')
re.findall(pattern, string)

['cat', 'cat', 'cat', 'cat', 'cat', 'cat']

In [205]:
# Using Space(cat )

string = 'cat catherine catholic wildcat copycat uncatchable'
pattern = re.compile('cat ')
re.findall(pattern, string)

# It just pull out the words with "cat " and eliminate all the words without spaces.

['cat ', 'cat ', 'cat ']

In [206]:
# Only pull out cat with boundary

string = 'cat catherine catholic wildcat copycat uncatchable'
pattern = re.compile(r'\bcat\b')
re.findall(pattern, string)

['cat']

### Word boundaries nuances

Be careful with periods(dots) and non-alphanumeric characters
\w = [A-Za-z0-9_] (Alphanumeric characters)
\W = +:@^% (non-alphanumeric characters)

In [207]:
# Here the word boundarieds make sure that there is a character in the right and in the left there is a non-alphanumeric character.
# Space is also consider as an alphanumeric character.

string = '.cat catherine catholic wildcat copycat uncatchable'
pattern = re.compile(r'\bcat\b')
re.findall(pattern, string)

['cat']

In [208]:
# Example:

string = '@cat cat catherine catholic wildcat copycat uncatchable'
pattern = re.compile(r'\bcat\b')
re.findall(pattern, string)

@ = also alphanumeric character

['cat', 'cat']

\b = Check whether one side is alphanumeric and the other is non-alphanumeric.
\B = Check the both sides are alphanumeric or non-alphanumeric.

In [223]:
# Example: Twitter examples, Twitter handles

string = '@moondra2017.org'
string2 = '@moondra'
string3 = 'Python@moondra'
string4 = '@moondra_python'

# We only want @moondra and @moondra_python(string 2 & string 4)

pattern = re.compile(r'\B@[\w]+$')
re.findall(pattern,string)

[]

In [224]:
pattern = re.compile(r'\B@[\w]+$')
re.findall(pattern,string2)

['@moondra']

In [225]:
pattern = re.compile(r'\B@[\w]+$')
re.findall(pattern,string3)

[]

In [226]:
pattern = re.compile(r'\B@[\w]+$')
re.findall(pattern,string4)

['@moondra_python']

In [227]:
# using Negative look around

string = '@moondra2017.org'
string2 = '@moondra'
string3 = 'Python@moondra'
string4 = '@moondra_python'

# We only want @moondra and @moondra_python(string 2 & string 4)

pattern = re.compile(r'\B@[\w]+\b(?!\.)')
re.findall(pattern,string)

# Eliminate all the id's having ".org/.com/.gmail" etc only get the valuable datas.

[]

In [229]:
pattern = re.compile(r'\B@[\w]+\b(?!\.)')
re.findall(pattern,string2)

['@moondra']

In [230]:
pattern = re.compile(r'\B@[\w]+\b(?!\.)')
re.findall(pattern,string3)

[]

In [231]:
pattern = re.compile(r'\B@[\w]+\b(?!\.)')
re.findall(pattern,string4)

['@moondra_python']

## Look Arounds