<a href="https://colab.research.google.com/github/nandu26m/Python-Packages/blob/main/Pandas/notebooks/pandas_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##A. Pandas Basics

**1. Import Pandas**

In [1]:
import pandas as pd

**2. Check pandas version**

In [2]:
print(pd.__version__)

2.2.2

**3. Read a CSV file into a DataFrame.**

In [3]:
pd.read_csv("sample.csv")

,track_id,track_name,track_number,track_popularity,track_duration_ms,explicit,artist_name,artist_popularity,artist_followers,artist_genres,album_id,album_name,album_release_date,album_total_tracks,album_type
0,6pymOcrCnMuCWdgGVTvUgP,3,57,61,213173,False,Britney Spears,80.0,17755451.0,['pop'],325wcm5wMnlfjmKZ8PXIIn,The Singles Collection,2009-11-09,58,compilation
1,2lWc1iJlz2NVcStV5fbtPG,Clouds,1,67,158760,False,BUNT.,69.0,293734.0,['stutter house'],2ArRQNLxf9t0O0gvmG5Vsj,Clouds,2023-01-13,1,single
2,1msEuwSBneBKpVCZQcFTsU,Forever & Always (Taylor’s Version),11,63,225328,False,Taylor Swift,100.0,145396321.0,[],4hDok0OAJd57SGIT8xuWJH,Fearless (Taylor's Version),2021-04-09,26,album
3,7bcy34fBT2ap1L4bfPsl9q,I Didn't Change My Number,2,72,158463,True,Billie Eilish,90.0,118692183.0,[],0JGOiO34nwfUdDrD612dOp,Happier Than Ever,2021-07-30,16,album
4,0GLfodYacy3BJE7AI3A8en,Man Down,7,57,267013,False,Rihanna,90.0,68997177.0,[],5QG3tjE5L9F6O2vCAPph38,Loud,2010-01-01,13,album
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8767,58VTP6KnZs12PcAj5rMJ4W,the fruits,1,65,209698,False,Paris Paloma,66.0,786890.0,[],48ssTnnFOCIP17sRaFNqu1,the fruits,2022-04-29,1,single
8768,2dRfUOeTVpr4V4PmmqGkpm,Dark World Theme (The Legend of Zelda),4,2,113143,False,Zelda,8.0,3263.0,[],0JJAfVZtn3EvZnXSQrpLSh,The Legend of Zelda,2023-08-19,7,album
8769,37F0uwRSrdzkBiuj0D5UHI,Reminder,4,81,218880,True,The Weeknd,94.0,113039308.0,[],2ODvWsOgouMbaA5xf0RkJe,Starboy,2016-11-25,18,album
8770,42qNWdLKCI41S4uzfamhFM,Duvet,1,84,203600,False,bôa,68.0,1188508.0,[],7sGYAV0xv7ZfAMzIpMl8m1,Twilight,2001-03-21,14,album
8771,7KZJnMtwu2s80jO5Frthap,So Much Better,4,33,261385,True,Eminem,88.0,104584370.0,"['rap', 'hip hop']",3vOgbDjgsZBAPwV2M3bNOj,The Marshall Mathers LP2,2013-11-05,16,album

**4. Read only specific columns from a CSV.**

In [4]:
pd.read_csv("sample.csv", usecols=["track_id", "track_name"])

                    track_id                              track_name
0     6pymOcrCnMuCWdgGVTvUgP                                       3
1     2lWc1iJlz2NVcStV5fbtPG                                  Clouds
2     1msEuwSBneBKpVCZQcFTsU     Forever & Always (Taylor’s Version)
3     7bcy34fBT2ap1L4bfPsl9q               I Didn't Change My Number
4     0GLfodYacy3BJE7AI3A8en                                Man Down
...                      ...                                     ...
8767  58VTP6KnZs12PcAj5rMJ4W                              the fruits
8768  2dRfUOeTVpr4V4PmmqGkpm  Dark World Theme (The Legend of Zelda)
8769  37F0uwRSrdzkBiuj0D5UHI                                Reminder
8770  42qNWdLKCI41S4uzfamhFM                                   Duvet
8771  7KZJnMtwu2s80jO5Frthap                          So Much Better

[8772 rows x 2 columns]

**5. Read an Excel file into a DataFrame.**

In [5]:
import pandas as pd

try:
    df = pd.read_excel("sample.xlsx")
    print("Excel file read successfully")
except FileNotFoundError:
    print("File not found")
except Exception as e:
    print(f"An error occurred: {e}")

File not found

**6. Load a JSON file into pandas.**

In [6]:
import pandas as pd

try:
  df = pd.read_json("sample.json")
  print(f"json file read successfully")
except FileNotFoundError:
  print("File not found")
except Exception as e:
  print(f"An error occured: {e}")

File not found

**7. Display first 5 rows of a DataFrame.**

In [7]:
import pandas as pd

try:
  df = pd.read_csv("sample.csv")
  print(f"csv file read successfully.\n")
  print(df.head(5))
except FileNotFoundError:
  print("File not found")
except Exception as e:
  print(f"An error occured: {e}")

csv file read successfully.

                 track_id                           track_name  track_number  \
0  6pymOcrCnMuCWdgGVTvUgP                                    3            57
1  2lWc1iJlz2NVcStV5fbtPG                               Clouds             1
2  1msEuwSBneBKpVCZQcFTsU  Forever & Always (Taylor’s Version)            11
3  7bcy34fBT2ap1L4bfPsl9q            I Didn't Change My Number             2
4  0GLfodYacy3BJE7AI3A8en                             Man Down             7

   track_popularity  track_duration_ms  explicit     artist_name  \
0                61             213173     False  Britney Spears
1                67             158760     False           BUNT.
2                63             225328     False    Taylor Swift
3                72             158463      True   Billie Eilish
4                57             267013     False         Rihanna

   artist_popularity  artist_followers      artist_genres  \
0               80.0        17755451.0            ['pop']
1               69.0          293734.0  ['stutter house']
2              100.0       145396321.0                 []
3               90.0       118692183.0                 []
4               90.0        68997177.0                 []

                 album_id                   album_name album_release_date  \
0  325wcm5wMnlfjmKZ8PXIIn       The Singles Collection         2009-11-09
1  2ArRQNLxf9t0O0gvmG5Vsj                       Clouds         2023-01-13
2  4hDok0OAJd57SGIT8xuWJH  Fearless (Taylor's Version)         2021-04-09
3  0JGOiO34nwfUdDrD612dOp            Happier Than Ever         2021-07-30
4  5QG3tjE5L9F6O2vCAPph38                         Loud         2010-01-01

   album_total_tracks   album_type
0                  58  compilation
1                   1       single
2                  26        album
3                  16        album
4                  13        album

**8. Display last 5 rows.**

In [8]:
import pandas as pd

try:
  df = pd.read_csv("sample.csv")
  print(f"csv file read successfully.\nPrinting last 5 rows.\n\n{df.tail(5)}")
except FileNotFoundError:
  print("File not found error.")
except Exception as e:
  print(f"An error occured: {e}")

csv file read successfully.
Printing last 5 rows.

                    track_id                              track_name  \
8767  58VTP6KnZs12PcAj5rMJ4W                              the fruits
8768  2dRfUOeTVpr4V4PmmqGkpm  Dark World Theme (The Legend of Zelda)
8769  37F0uwRSrdzkBiuj0D5UHI                                Reminder
8770  42qNWdLKCI41S4uzfamhFM                                   Duvet
8771  7KZJnMtwu2s80jO5Frthap                          So Much Better

      track_number  track_popularity  track_duration_ms  explicit  \
8767             1                65             209698     False
8768             4                 2             113143     False
8769             4                81             218880      True
8770             1                84             203600     False
8771             4                33             261385      True

       artist_name  artist_popularity  artist_followers       artist_genres  \
8767  Paris Paloma               66.0          786890.0                  []
8768         Zelda                8.0            3263.0                  []
8769    The Weeknd               94.0       113039308.0                  []
8770           bôa               68.0         1188508.0                  []
8771        Eminem               88.0       104584370.0  ['rap', 'hip hop']

                    album_id                album_name album_release_date  \
8767  48ssTnnFOCIP17sRaFNqu1                the fruits         2022-04-29
8768  0JJAfVZtn3EvZnXSQrpLSh       The Legend of Zelda         2023-08-19
8769  2ODvWsOgouMbaA5xf0RkJe                   Starboy         2016-11-25
8770  7sGYAV0xv7ZfAMzIpMl8m1                  Twilight         2001-03-21
8771  3vOgbDjgsZBAPwV2M3bNOj  The Marshall Mathers LP2         2013-11-05

      album_total_tracks album_type
8767                   1     single
8768                   7      album
8769                  18      album
8770                  14      album
8771                  16      album

**9. Check DataFrame shape.**

In [9]:
import pandas as pd

try:
  df = pd.read_csv("sample.csv")
  print(f"CSV file read successfully.")
  print(f"Printing the df shape: {df.shape}")
except FileNotFoundError:
  print(f"File not found error.")
except Exception as e:
  print(f"An error occured: {e}")

CSV file read successfully.
Printing the df shape: (8772, 15)

**10. Show DataFrame column names.**

In [10]:
import pandas as pd

try:
  df = pd.read_csv("sample.csv")
  print(f"CSV file read successfully.")
  print(f"Columns: {df.columns}")
except FileNotFoundError:
  print(f"File not found error.")
except Exception as e:
  print(f"An error occured: {e}")

CSV file read successfully.
Columns: Index(['track_id', 'track_name', 'track_number', 'track_popularity',
       'track_duration_ms', 'explicit', 'artist_name', 'artist_popularity',
       'artist_followers', 'artist_genres', 'album_id', 'album_name',
       'album_release_date', 'album_total_tracks', 'album_type'],
      dtype='object')

**11. Show DataFrame data types.**

In [11]:
import pandas as pd

try:
  df = pd.read_csv("sample.csv")
  print(f"CSV file read successfully.")
  print(f"Data types: {df.dtypes}")
except FileNotFoundError:
  print(f"File not found.")
except Exception as e:
  print(f"An error occured: {e}")

CSV file read successfully.
Data types: track_id               object
track_name             object
track_number            int64
track_popularity        int64
track_duration_ms       int64
explicit                 bool
artist_name            object
artist_popularity     float64
artist_followers      float64
artist_genres          object
album_id               object
album_name             object
album_release_date     object
album_total_tracks      int64
album_type             object
dtype: object

In [12]:
import pandas as pd

try:
    df = pd.read_csv("sample.csv")
    print("CSV file read successfully.\n")
    print("Column Data Types:")
    print("-" * 30)
    print(df.dtypes.to_frame("Data Type"))
except FileNotFoundError:
    print("File not found.")
except Exception as e:
    print(f"An error occurred: {e}")

CSV file read successfully.

Column Data Types:
------------------------------
                   Data Type
track_id              object
track_name            object
track_number           int64
track_popularity       int64
track_duration_ms      int64
explicit                bool
artist_name           object
artist_popularity    float64
artist_followers     float64
artist_genres         object
album_id              object
album_name            object
album_release_date    object
album_total_tracks     int64
album_type            object

**12. Check memory usage of DataFrame.**

In [13]:
import pandas as pd

try:
  df = pd.read_csv("sample.csv")
  print("CSV file read successfully.\n")
  print("Memory usage: ")
  print("-" * 28)
  print(df.memory_usage(deep = True))
except FileNotFoundError:
  print("File not found.")
except Exception as e:
  print(f"An error occured: {e}")

CSV file read successfully.

Memory usage:
----------------------------
Index                    132
track_id              622812
track_name            586801
track_number           70176
track_popularity       70176
track_duration_ms      70176
explicit                8772
artist_name           525878
artist_popularity      70176
artist_followers       70176
artist_genres         537885
album_id              622812
album_name            621261
album_release_date    516363
album_total_tracks     70176
album_type            478980
dtype: int64

In [14]:
import pandas as pd

try:
    df = pd.read_csv("sample.csv")
    print("CSV file read successfully.\n")

    print("Memory usage (per column):")
    print(df.memory_usage(deep=True))

    print("\nTotal memory usage:")
    print(df.memory_usage(deep=True).sum(), "bytes")
except FileNotFoundError:
    print("File not found.")
except Exception as e:
    print(f"An error occurred: {e}")

CSV file read successfully.

Memory usage (per column):
Index                    132
track_id              622812
track_name            586801
track_number           70176
track_popularity       70176
track_duration_ms      70176
explicit                8772
artist_name           525878
artist_popularity      70176
artist_followers       70176
artist_genres         537885
album_id              622812
album_name            621261
album_release_date    516363
album_total_tracks     70176
album_type            478980
dtype: int64

Total memory usage:
4942752 bytes

**13. Convert a column to int.**

In [15]:
import pandas as pd

try:
  df = pd.read_csv("sample.csv")
  print(f"CSV file read successfully.")
  df['track_number'] = df['track_number'].astype(int)
  print("_" * 30)
  print(df.dtypes)
except FileNotFoundError:
  print(f"File not found")
except Exception as e:
  print(f"An error occured: {e}")

CSV file read successfully.
______________________________
track_id               object
track_name             object
track_number            int64
track_popularity        int64
track_duration_ms       int64
explicit                 bool
artist_name            object
artist_popularity     float64
artist_followers      float64
artist_genres          object
album_id               object
album_name             object
album_release_date     object
album_total_tracks      int64
album_type             object
dtype: object

**14. Convert a column to float.**

In [16]:
import pandas as pd

try:
  df = pd.read_csv("sample.csv")
  print(f"CSV file read successfully.")
  df['track_number'] = df['track_number'].astype(float)
  print(df.dtypes)
except FileNotFoundError:
  print(f"File not found")
except Exception as e:
  print(f"An error occured: {e}")

CSV file read successfully.
track_id               object
track_name             object
track_number          float64
track_popularity        int64
track_duration_ms       int64
explicit                 bool
artist_name            object
artist_popularity     float64
artist_followers      float64
artist_genres          object
album_id               object
album_name             object
album_release_date     object
album_total_tracks      int64
album_type             object
dtype: object

**15. Convert a column to datetime.**

In [17]:
import pandas as pd

try:
    # Read the CSV file
    df = pd.read_csv("sample.csv")
    print("CSV file read successfully.")

    # Convert the 'album_release_date' column to datetime
    df['album_release_date'] = pd.to_datetime(df['album_release_date'], errors='coerce')

    # Display the data types of all columns
    print(df.dtypes)

except FileNotFoundError:
    print("File not found.")
except Exception as e:
    print(f"An error occurred: {e}")

CSV file read successfully.
track_id                      object
track_name                    object
track_number                   int64
track_popularity               int64
track_duration_ms              int64
explicit                        bool
artist_name                   object
artist_popularity            float64
artist_followers             float64
artist_genres                 object
album_id                      object
album_name                    object
album_release_date    datetime64[ns]
album_total_tracks             int64
album_type                    object
dtype: object

**16. Describe numeric columns.**

In [18]:
import pandas as pd

try:
    df = pd.read_csv("sample.csv")
    print("CSV file read successfully.\n")

    print("Numeric Column Statistics:")
    print(df.describe(include=['number']))

except FileNotFoundError:
    print("File not found.")
except Exception as e:
    print(f"An error occured: {e}")

CSV file read successfully.

Numeric Column Statistics:
       track_number  track_popularity  track_duration_ms  artist_popularity  \
count   8772.000000       8772.000000         8772.00000        8772.000000
mean       5.750456         52.243274       210201.45668          69.970930
std        6.019187         24.068279        63263.55241          19.506421
min        1.000000          0.000000         4388.00000           0.000000
25%        1.000000         39.000000       173940.75000          60.000000
50%        4.000000         58.000000       207276.00000          74.000000
75%        9.000000         71.000000       239639.75000          84.000000
max      102.000000        100.000000       811077.00000         100.000000

       artist_followers  album_total_tracks
count      8.772000e+03         8772.000000
mean       2.435979e+07           13.783288
std        3.814064e+07           11.798720
min        0.000000e+00            1.000000
25%        5.145230e+05            6.000000
50%        6.284112e+06           13.000000
75%        3.055055e+07           17.000000
max        1.455421e+08          181.000000

**17. Show statistics of categorical columns.**

In [19]:
import pandas as pd

try:
    df = pd.read_csv("sample.csv")
    print("CSV file read successfully.\n")

    print("\nCategorical Column Statistics:")
    print(df.describe(include=['object']))

except FileNotFoundError:
    print("File not found.")
except Exception as e:
    print(f"An error occured: {e}")

CSV file read successfully.


Categorical Column Statistics:
                      track_id track_name   artist_name artist_genres  \
count                     8772       8772          8772          8772
unique                    8772       7463          2547           652
top     7KZJnMtwu2s80jO5Frthap    Flowers  Taylor Swift            []
freq                         1          8           330          4490

                      album_id                        album_name  \
count                     8772                              8772
unique                    5313                              4871
top     3FFGbUutKWN1c4f0CJR4Uh  Nevermind (Super Deluxe Edition)
freq                        70                                70

       album_release_date album_type
count                8772       8772
unique               2388          3
top            2010-01-01      album
freq                   78       6020

**18. Get number of unique values per column.**

In [20]:
import pandas as pd

try:
  df = pd.read_csv("sample.csv")
  print(f"CSV file read successfully.")
  print("_" * 26)
  print(df.nunique())
except FileNotFoundError:
  print("File not found.")
except Exception as e:
  print(f"An error occured: {e}")

CSV file read successfully.
__________________________
track_id              8772
track_name            7463
track_number            54
track_popularity        99
track_duration_ms     7245
explicit                 2
artist_name           2547
artist_popularity       96
artist_followers      3763
artist_genres          652
album_id              5313
album_name            4871
album_release_date    2388
album_total_tracks      82
album_type               3
dtype: int64

**19. Replace column names with lowercase.**

In [21]:
import pandas as pd

try:
    df = pd.read_csv("sample.csv")
    print("CSV file read successfully.\n")

    # Convert column names to lowercase
    df.columns = df.columns.str.lower()
    print("Column names converted to lowercase:")
    print(df.columns)

except FileNotFoundError:
    print("File not found.")
except Exception as e:
    print(f"An error occurred: {e}")

CSV file read successfully.

Column names converted to lowercase:
Index(['track_id', 'track_name', 'track_number', 'track_popularity',
       'track_duration_ms', 'explicit', 'artist_name', 'artist_popularity',
       'artist_followers', 'artist_genres', 'album_id', 'album_name',
       'album_release_date', 'album_total_tracks', 'album_type'],
      dtype='object')


**20. Rename multiple columns at once.**

In [22]:
import pandas as pd

try:
  df = pd.read_csv("sample.csv")
  print("CSV file read successfully.")
  df.columns = df.columns.str.title()
  print(f"Renaming columns...\nUpdated column names:\n{df.columns}")
except FileNotFoundError:
  print("File not found.")
except Exception as e:
  print(f"An error occured: {e}")

CSV file read successfully.
Renaming columns...
Updated column names:
Index(['Track_Id', 'Track_Name', 'Track_Number', 'Track_Popularity',
       'Track_Duration_Ms', 'Explicit', 'Artist_Name', 'Artist_Popularity',
       'Artist_Followers', 'Artist_Genres', 'Album_Id', 'Album_Name',
       'Album_Release_Date', 'Album_Total_Tracks', 'Album_Type'],
      dtype='object')

## B. Data Cleaning
*   *Mssing data, Outliers, Text cleaning*

**21. Detect missing values in each column.**

In [23]:
# Number of missing values per column
print(f"Number of missing values per column using 'isnull()': \n{df.isnull().sum()}\n")

# Or using isna() (same as isnull())
print(f"Number of missing values per column using 'isna()': \n{df.isna().sum()}")

Number of missing values per column using 'isnull()':
Track_Id              0
Track_Name            0
Track_Number          0
Track_Popularity      0
Track_Duration_Ms     0
Explicit              0
Artist_Name           0
Artist_Popularity     0
Artist_Followers      0
Artist_Genres         0
Album_Id              0
Album_Name            0
Album_Release_Date    0
Album_Total_Tracks    0
Album_Type            0
dtype: int64

Number of missing values per column using 'isna()':
Track_Id              0
Track_Name            0
Track_Number          0
Track_Popularity      0
Track_Duration_Ms     0
Explicit              0
Artist_Name           0
Artist_Popularity     0
Artist_Followers      0
Artist_Genres         0
Album_Id              0
Album_Name            0
Album_Release_Date    0
Album_Total_Tracks    0
Album_Type            0
dtype: int64

**22. Count total missing values.**

In [24]:
import pandas as pd

try:
  df = pd.read_csv("sample.csv")
  print("CSV file read successfully.")
  total_missing = df.isna().sum().sum()
  print(f"Total missing values: {total_missing}")
except FileNotFoundError:
  print("File not found")
except Exception as e:
  print(f"An error occured: {e}")

CSV file read successfully.
Total missing values: 0

**23. Drop rows with missing values.**

In [25]:
import pandas as pd

try:
    df = pd.read_csv("sample.csv")
    print("CSV file read successfully.")

    total_missing = df.isna().sum().sum()
    print(f"Total missing values: {total_missing}")

    if total_missing > 0:
        print("Dropping rows with missing values...")
        df = df.dropna()
        print("Rows dropped.")
    else:
        print("No missing values found.")

except FileNotFoundError:
    print("File not found.")
except Exception as e:
    print(f"An error occurred: {e}")

CSV file read successfully.
Total missing values: 0
No missing values found.

**24. Fill missing values with mean.**

In [26]:
import pandas as pd

try:
    df = pd.read_csv("sample.csv")
    print("CSV file read successfully.")

    # Fill missing values for numeric columns only
    df = df.fillna(df.mean(numeric_only=True))

    print("Numeric missing values filled with mean.")

except FileNotFoundError:
    print("File not found.")
except Exception as e:
    print(f"An error occurred: {e}")

CSV file read successfully.
Numeric missing values filled with mean.

**25. Fill missing values with median.**

In [27]:
import pandas as pd

try:
  df = pd.read_csv("sample.csv")
  print("CSV file read successfully.")

  # Fill missing values for numeric column only.
  df = df.fillna(df.median(numeric_only=True))

  print(f"Numeric values are filled with median.")
except FileNotFoundError:
  print("File not found.")
except Exception as e:
  print(f"An error occured: {e}")

CSV file read successfully.
Numeric values are filled with median.

**26. Fill missing values with mode.**

In [28]:
import pandas as pd

try:
    df = pd.read_csv("sample.csv")
    print("CSV file read successfully.")

    # Fill missing values with mode (for all columns)
    df = df.fillna(df.mode().iloc[0])

    print("Missing values filled with mode.")

except FileNotFoundError:
    print("File not found")
except Exception as e:
    print(f"An error occurred: {e}")

CSV file read successfully.
Missing values filled with mode.

**27. Replace negative values with 0.**

In [29]:
import pandas as pd

try:
    df = pd.read_csv("sample.csv")
    print("CSV file read successfully.")

    # Replace negative values with 0 only in numeric columns.
    numeric_cols = df.select_dtypes(include=["number"]).columns
    # print(numeric_cols)
    df[numeric_cols] = df[numeric_cols].clip(lower=0)
    print(f"Replaced negative values with 0.")

except FileNotFoundError:
    print("File not found")
except Exception as e:
    print(f"An error occurred: {e}")

CSV file read successfully.
Replaced negative values with 0.

**28. Replace specific value in a column.**

In [30]:
import pandas as pd

# track_id: 6pymOcrCnMuCWdgGVTvUgP, Replace with: itschaged123

df['track_id'] = df['track_id'].replace("6pymOcrCnMuCWdgGVTvUgP", "itschanged123")
# print(df.head())

# Replace multiple values in multiple columns.
df = df.replace({
    "track_id": {"itschanged123": "1", "2lWc1iJlz2NVcStV5fbtPG": "2"},
    "track_name": {"3": "1", "Clouds": "2"}
    })

print(df.head())

                 track_id                           track_name  track_number  \
0                       1                                    1            57
1                       2                                    2             1
2  1msEuwSBneBKpVCZQcFTsU  Forever & Always (Taylor’s Version)            11
3  7bcy34fBT2ap1L4bfPsl9q            I Didn't Change My Number             2
4  0GLfodYacy3BJE7AI3A8en                             Man Down             7

   track_popularity  track_duration_ms  explicit     artist_name  \
0                61             213173     False  Britney Spears
1                67             158760     False           BUNT.
2                63             225328     False    Taylor Swift
3                72             158463      True   Billie Eilish
4                57             267013     False         Rihanna

   artist_popularity  artist_followers      artist_genres  \
0               80.0        17755451.0            ['pop']
1               69.0          293734.0  ['stutter house']
2              100.0       145396321.0                 []
3               90.0       118692183.0                 []
4               90.0        68997177.0                 []

                 album_id                   album_name album_release_date  \
0  325wcm5wMnlfjmKZ8PXIIn       The Singles Collection         2009-11-09
1  2ArRQNLxf9t0O0gvmG5Vsj                       Clouds         2023-01-13
2  4hDok0OAJd57SGIT8xuWJH  Fearless (Taylor's Version)         2021-04-09
3  0JGOiO34nwfUdDrD612dOp            Happier Than Ever         2021-07-30
4  5QG3tjE5L9F6O2vCAPph38                         Loud         2010-01-01

   album_total_tracks   album_type
0                  58  compilation
1                   1       single
2                  26        album
3                  16        album
4                  13        album

**29. Remove duplicate rows.**

In [31]:
import pandas as pd

df = pd.read_csv("sample.csv")

# Count duplicate rows
duplicate_count = df.duplicated().sum()

if duplicate_count == 0:
    print("No duplicate rows found.")
else:
    print(f"{duplicate_count} duplicate rows found. Removing them...")
    df.drop_duplicates(inplace=True)
    print("Duplicates removed.")

No duplicate rows found.

**30. Replace multiple values using a dictionary.**

In [50]:
# Creating a sample dataset

import pandas as pd
import numpy as np

np.random.seed(42)  # for reproducible results

names = [
    "Alice", "Bob", "Charlie", "David", "Emma", "Frank", "Grace", "Helen",
    "Ian", "Jack", "Karen", "Leo", "Mona", "Nora", "Oscar", "Paul", "Queen",
    "Rita", "Sam", "Tina"
]

departments = ["IT", "HR", "Finance", "Sales", "Marketing", None]

data = {
    "employee_id": np.random.randint(100, 200, size=100),   # duplicates likely
    "name": np.random.choice(names, size=100),
    "department": np.random.choice(departments, size=100),  # includes missing
    "salary": np.random.choice([50000, 55000, 60000, 65000, 70000, None], size=100),
    "join_date": pd.to_datetime(
        np.random.choice(pd.date_range("2018-01-01", "2024-01-01"), size=100)
    ),
    "full_time": np.random.choice([True, False, None], size=100)
}

df = pd.DataFrame(data)

print(df.head())
print(df.shape)

   employee_id   name department salary  join_date full_time
0          151   Mona    Finance  65000 2018-02-20      True
1          192    Ian         IT  50000 2019-07-29      True
2          114  Oscar         HR   None 2021-02-22      True
3          171   Mona         HR  70000 2022-09-12     False
4          160  Alice      Sales  65000 2019-11-13      True
(100, 6)

In [42]:
import pandas as pd

try:
  print(f"CSV file read successfully.")
  df.replace({"name": {"Mona": "Monalisa",
                       "Ian": "Iyan"},
              "department": {"Finance": "IT",
                             "IT": "Finance"}
              }, inplace=True)
  print(f"Changes applied.")
  print(df.head())
except FileNotFoundError:
  print(f"File not found.")
except Exception as e:
  print(f"An error ocured: {e}")

CSV file read successfully.
Changes applied.
   employee_id      name department salary  join_date full_time
0          151  Monalisa         IT  65000 2018-02-20      True
1          192      Iyan    Finance  50000 2019-07-29      True
2          114     Oscar         HR   None 2021-02-22      True
3          171  Monalisa         HR  70000 2022-09-12     False
4          160     Alice      Sales  65000 2019-11-13      True

**31. Standardize text: lowercase.**

In [45]:
# Convert a single column to lowercase.
import pandas as pd

try:
  print("Data received successfully.")
  df["name"] = df["name"].str.lower()
  print(f"Column 'name' converted to lower case.")
  print(df.head(5))
except Exception as e:
  print(f"An error occured: {e}")

Data received successfully.
Column 'name' converted to lower case.
   employee_id      name department salary  join_date full_time
0          151  monalisa         IT  65000 2018-02-20      True
1          192      iyan    Finance  50000 2019-07-29      True
2          114     oscar         HR   None 2021-02-22      True
3          171  monalisa         HR  70000 2022-09-12     False
4          160     alice      Sales  65000 2019-11-13      True

In [47]:
# Convert specific column to lowercase

import pandas as pd

try:
  print("Data fetched successfully.")
  cols = ["name", "department"]
  df[cols] = df[cols].apply(lambda col: col.str.lower())
  print(f"Specific columns converted successfully: {cols}")
  print(df.head(5))
except Exception as e:
  print(f"An error occured as {e}")

Data fetched successfully.
Specific columns converted successfully: ['name', 'department']
   employee_id      name department salary  join_date full_time
0          151  monalisa         it  65000 2018-02-20      True
1          192      iyan    finance  50000 2019-07-29      True
2          114     oscar         hr   None 2021-02-22      True
3          171  monalisa         hr  70000 2022-09-12     False
4          160     alice      sales  65000 2019-11-13      True

In [49]:
# Convert ALL string columns in the DataFrame to lowercase.

import pandas as pd

try:
  print(f"Data fetched successfully.")
  df = df.apply(lambda col: col.astype(str).str.lower() if col.dtype == "object" else col)
  print(f"Converted ALL string columns in the DataFrame to lowercase.")
  print(f"Updated df:\n{df.head(5)}")
except Exception as e:
  print(f"An error occured: {e}")

Data fetched successfully.
Converted ALL string columns in the DataFrame to lowercase.
Updated df:
   employee_id      name department salary  join_date full_time
0          151  monalisa         it  65000 2018-02-20      true
1          192      iyan    finance  50000 2019-07-29      true
2          114     oscar         hr   none 2021-02-22      true
3          171  monalisa         hr  70000 2022-09-12     false
4          160     alice      sales  65000 2019-11-13      true

**32. Trim whitespace from column.**

In [56]:
import pandas as pd

print("Data fetched successfully.")
print(df.head(5))

# Removing whitespace from column if there any
# First looking for the columns as data type 'str'

str_cols = df.select_dtypes(include=["object"]).columns
print(f"Columns to work with: {str_cols}")

df[str_cols] = df[str_cols].apply(lambda col: col.astype(str).str.strip())
print(f"Removed the whitespaces from columns.")

Data fetched successfully.
   employee_id   name department salary  join_date full_time
0          151   Mona    Finance  65000 2018-02-20      True
1          192    Ian         IT  50000 2019-07-29      True
2          114  Oscar         HR   None 2021-02-22      True
3          171   Mona         HR  70000 2022-09-12     False
4          160  Alice      Sales  65000 2019-11-13      True
Columns to work with: Index(['name', 'department', 'salary', 'full_time'], dtype='object')
Removed the whitespaces from columns.

**33. Convert a text column to uppercase.**

In [59]:
import pandas as pd

print("Data fetched successfully.")
print(df.head(5))

str_cols = df.select_dtypes(include=["object"]).columns
print(f"Columns to work with: {str_cols}")

df[str_cols] = df[str_cols].apply(lambda col: col.astype(str).str.upper())
print(f"Converted text columns to uppercase.")
print(f"Updated df:\n{df.head()}")

Data fetched successfully.
   employee_id   name department salary  join_date full_time
0          151   MONA    FINANCE  65000 2018-02-20      TRUE
1          192    IAN         IT  50000 2019-07-29      TRUE
2          114  OSCAR         HR   NONE 2021-02-22      TRUE
3          171   MONA         HR  70000 2022-09-12     FALSE
4          160  ALICE      SALES  65000 2019-11-13      TRUE
Columns to work with: Index(['name', 'department', 'salary', 'full_time'], dtype='object')
Converted text columns to uppercase.
Updated df:
   employee_id   name department salary  join_date full_time
0          151   MONA    FINANCE  65000 2018-02-20      TRUE
1          192    IAN         IT  50000 2019-07-29      TRUE
2          114  OSCAR         HR   NONE 2021-02-22      TRUE
3          171   MONA         HR  70000 2022-09-12     FALSE
4          160  ALICE      SALES  65000 2019-11-13      TRUE

**34. Strip special characters.**

In [ ]:
import regex
import pandas as pd

print("Data fetched successfully.")
print(df.head(5))

str_cols = df.select_dtypes(include=["object"]).columns
print(f"Columns to work with: {str_cols}")

df[str_cols] = df[str_cols].apply(lambda col: col.astype(str).str.upper())
print(f"Converted text columns to uppercase.")
print(f"Updated df:\n{df.head()}")