<a href="https://colab.research.google.com/github/nandu26m/Python-Packages/blob/main/Pandas/notebooks/python_pandas_practice_workbook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#==============================
# Python Data Types Practice
#==============================

#---------- A. Strings (str) ----------
#1. Create a string variable and print its length.
#2. Convert "hello world" to uppercase.
#3. Convert "HELLO" to lowercase.
#4. Capitalize the string "python".
#5. Title-case the string "welcome to python".
#6. Count how many times "o" appears in "hello world".
#7. Replace "world" with "Python" in "hello world".
#8. Find the index of "w" in "hello world".
#9. Check if "123" is numeric.|
#10. Check if "Python3" is alphanumeric.
#11. Slice "Programming" to get "gram".
#12. Reverse the string "Python".
#13. Join ["a","b","c"] with "-" â†’ "a-b-c".
#14. Split "a,b,c" by ",".
#15. Strip whitespace from "   hello   ".
#16. Check if string starts with "Py".
#17. Check if string ends with "on".
#18. Convert "python" to list of characters.
#19. Format string: "My name is {} and age is {}" with "Nandu", 25.
#20. Use f-string to display name="Nandu", age=25.
#21. Count vowels in a string.
#22. Check palindrome string.
#23. Find longest word in a sentence.
#24. Replace vowels in a string with "*".
#25. Remove punctuation from "Hello, World!".
#26. Check if two strings are anagrams.
#27. Concatenate two strings.
#28. Repeat "Hi" 5 times.
#29. Compare two strings ignoring case.
#30. Find frequency of each character in a string.
#31. Check if string contains only alphabets.
#32. Encode "hello" to bytes.
#33. Decode b"hello" to string.
#34. Reverse words in a sentence.
#35. Find first non-repeating character in a string.
#36. Remove duplicates from a string.
#37. Count words in a sentence.
#38. Convert string "100" to integer.
#39. Convert integer 100 to string.
#40. Extract numbers from "abc123def".
#41. Check if string is empty.
#42. Replace spaces with "_".
#43. Swap case of "Hello World".
#44. Find substring without using built-in find.
#45. Compress string "aaabb" â†’ "a3b2".
#46. Expand "a3b2" â†’ "aaabb".
#47. Check rotation: "abc" & "cab".
#48. Remove first and last character.
#49. Insert substring into a string.
#50. Generate all substrings of "abc".
#51. Count occurrences of each word in sentence.
#52. Remove specific word from sentence.
#53. Find common characters between two strings.
#54. Sort characters of a string.
#55. Check if one string is substring of another.
#56. Find all positions of "a" in a string.
#57. Replace multiple spaces with single space.
#58. Count uppercase letters in a string.
#59. Count lowercase letters in a string.
#60. Check if string contains digits.
#61. Extract domain from email.
#62. Mask email (n***u@gmail.com).
#63. Validate simple email format with regex.
#64. Extract hashtags from "#python #coding".
#65. Extract mentions from "@nandu hello".
#66. Extract URL from text.
#67. Remove HTML tags from "<p>Hello</p>".
#68. Escape special characters.
#69. Unescape "\n" and print properly.
#70. Count sentences in a paragraph.
#71. Find most frequent word.
#72. Find least frequent word.
#73. Replace numbers with "#".
#74. Extract numbers only.
#75. Extract alphabets only.
#76. Check strong password (length, digit, upper).
#77. Encode string to base64.
#78. Decode base64 string.
#79. ROT13 encryption.
#80. Caesar cipher encryption.
#81. Reverse Caesar cipher.
#82. Generate acronym from sentence.
#83. Find substring using regex.
#84. Replace multiple words with regex.
#85. Extract email IDs using regex.
#86. Extract phone numbers using regex.
#87. Extract dates from text.
#88. Convert snake_case to camelCase.
#89. Convert camelCase to snake_case.
#90. Find longest palindrome substring.
#91. Check pangram.
#92. Find missing letters in alphabet.
#93. Find duplicate words in a string.
#94. Check if string is isogram (no repeating letters).
#95. Find edit distance between two strings.
#96. Implement KMP string search.
#97. Implement Rabin-Karp string search.
#98. Implement Boyer-Moore string search.
#99. Encode run-length compression.
#100. Convert "Python3.9" to remove all non-alphabet characters â†’ "Python".

#---------- B. Integers & Floats ----------
#101. Add two integers.
#102. Divide 7 / 2 and get float result.
#103. Divide 7 // 2 and get integer result.
#104. Find remainder of 25 % 4.
#105. Raise 2 to the power of 5.
#106. Convert string "100" to integer.
#107. Convert float 3.5 to integer.
#108. Round 3.14159 to 2 decimal places.
#109. Get absolute value of -50.
#110. Compare if 10 > 7.
#111. Check if number is even.
#112. Check if number is odd.
#113. Find factorial of 5.
#114. Generate Fibonacci sequence.
#115. Find GCD of 24 and 36.
#116. Find LCM of 12 and 15.
#117. Convert integer to binary.
#118. Convert binary to integer.
#119. Convert integer to hexadecimal.
#120. Convert hexadecimal to integer.
#121. Convert float to string.
#122. Check if float is integer.
#123. Find square root of 16.
#124. Find cube root of 27.
#125. Truncate float 3.999 â†’ 3.
#126. Floor division using math.floor.
#127. Ceiling using math.ceil.
#128. Generate random integer.
#129. Generate random float.
#130. Round float to nearest integer.

#---------- C. Complex Numbers ----------
#131. Create a complex number 3 + 4j.
#132. Get the real part of 3 + 4j.
#133. Get the imaginary part of 3 + 4j.
#134. Find conjugate of 3 + 4j.
#135. Add (2 + 3j) and (4 + 5j).
#136. Subtract (5 + 6j) - (2 + 3j).
#137. Multiply (1+2j)(2+3j).
#138. Divide (4+6j)/(1+2j).
#139. Find absolute value of complex number.
#140. Convert polar to rectangular form.

#---------- D. Lists ----------
#141. Create a list [1, 2, 3, 4].
#142. Append 5 to the list.
#143. Insert 10 at index 2.
#144. Remove element 3.
#145. Pop last element.
#146. Sort list ascending.
#147. Sort list descending.
#148. Reverse list.
#149. Get max from list.
#150. Get min from list.
#151. Get sum of list.
#152. Find length of list.
#153. Count occurrences of 2.
#154. Extend list with [6,7].
#155. Slice first 3 elements.
#156. Copy list.
#157. Clear list.
#158. Nested list [[1,2],[3,4]] access element.
#159. List comprehension [x*2 for x in range(5)].
#160. Flatten nested list.
#161. Find unique elements in list.
#162. Find common elements in two lists.
#163. Remove duplicates.
#164. Merge two lists.
#165. Convert list to string.
#166. Convert string to list.
#167. Check if list is empty.
#168. Find second largest element.
#169. Find kth smallest element.
#170. Rotate list by 2 positions.
#171. Partition list into even and odd.
#172. Find missing number in list.
#173. Check if list is palindrome.
#174. Find frequency of elements.
#175. Find intersection of multiple lists.
#176. Find union of multiple lists.
#177. Implement bubble sort.
#178. Implement selection sort.
#179. Implement insertion sort.
#180. Implement merge sort.
#181. Implement quick sort.
#182. Implement binary search.
#183. Implement linear search.
#184. Split list into chunks of size 3.
#185. Find cumulative sum of list.
#186. Replace negative numbers with 0.
#187. Square each number in list.
#188. Filter only even numbers.
#189. Filter only odd numbers.
#190. Map function to double list elements.
#191. Reduce to find product of list.
#192. Zip two lists together.
#193. Unzip list of tuples.
#194. Enumerate list with index.
#195. Find index of element 4.
#196. Remove all occurrences of 2.
#197. Check if list contains element.
#198. Compare two lists.
#199. Find difference of lists.
#200. Use list comprehension to get squares of [1,2,3,4].

#---------- E. Tuples ----------
#201. Create a tuple (1, 2, 3).
#202. Access element at index 1.
#203. Count occurrences of 2.
#204. Find index of element 3.
#205. Concatenate two tuples.
#206. Repeat tuple (1,2) 3 times.
#207. Convert list to tuple.
#208. Convert tuple to list.
#209. Slice tuple (1,2,3,4) â†’ (2,3).
#210. Check if element exists in tuple.
#211. Find length of tuple.
#212. Unpack tuple (a,b,c).
#213. Swap two variables using tuple.
#214. Nest tuple (1,(2,3),4).
#215. Find max element in tuple.
#216. Find min element in tuple.
#217. Sum of tuple elements.
#218. Sort tuple elements.
#219. Reverse tuple.
#220. Create single element tuple.

#---------- F. Ranges ----------
#221. Create range(5) and convert to list.
#222. Create numbers from 10 to 20.
#223. Create even numbers from 2 to 10.
#224. Create odd numbers from 1 to 9.
#225. Iterate through range(3) with a loop.

#---------- G. Dictionaries ----------
#226. Create dictionary {"name": "Nandu", "age": 25}.
#227. Access value by key "name".
#228. Add new key-value pair "city": "Berlin".
#229. Update value of "age".
#230. Delete key "age".
#231. Get all keys.
#232. Get all values.
#233. Get all items.
#234. Check if key exists.
#235. Get value with get().
#236. Set default value for key.
#237. Merge two dictionaries.
#238. Dictionary comprehension {x:x**2 for x in range(5)}.
#239. Find key with max value.
#240. Find key with min value.
#241. Sort dictionary by key.
#242. Sort dictionary by value.
#243. Invert dictionary {k:v} â†’ {v:k}.
#244. Count frequency of characters in string using dict.
#245. Nested dictionary: {"person": {"name":"Nandu", "age":25}}.
#246. Loop through dictionary keys.
#247. Loop through dictionary values.
#248. Loop through dictionary items.
#249. Remove all items (clear).
#250. Copy dictionary.

#---------- H. Functions & Modular Code ----------
#251. Define a function that prints "Hello World".
#252. Function to add two numbers.
#253. Function with default argument.
#254. Function with variable arguments (*args).
#255. Function with keyword arguments (**kwargs).
#256. Lambda function to square a number.
#257. Lambda to add two numbers.
#258. Higher order function that takes function as argument.
#259. Return multiple values from function.
#260. Recursive function for factorial.
#261. Recursive function for Fibonacci.
#262. Function to check prime number.
#263. Function to check palindrome string.
#264. Function to reverse a string.
#265. Function to count vowels in a string.
#266. Function to check anagram.
#267. Function to calculate area of circle.
#268. Function to calculate area of rectangle.
#269. Function to calculate simple interest.
#270. Function to calculate compound interest.
#271. Function to calculate GCD.
#272. Function to calculate LCM.
#273. Function to check Armstrong number.
#274. Function to check perfect number.
#275. Function to convert Celsius to Fahrenheit.
#276. Function to convert Fahrenheit to Celsius.
#277. Function to convert decimal to binary.
#278. Function to convert binary to decimal.
#279. Function to convert decimal to hexadecimal.
#280. Function to convert hexadecimal to decimal.
#281. Function to count words in a string.
#282. Function to count characters in a string.
#283. Function to count lines in a file.
#284. Function to sum digits of a number.
#285. Use lambda function to sort a list of tuples by second element.

# ðŸš€ Python log.txt Practice Questions
# --- Beginner (1-3/10) ---
#286. Read the first 5 lines from log.txt
#287. Count how many times the word "ERROR" appears
#288. Extract all unique IP addresses
#289. Find the number of lines in log.txt
#290. Print the last 10 lines
#291. Search for lines containing "Tesla"
#292. Count how many times "Login successful" occurs
#293. Extract all dates from log entries
#294. Find the most common error message
#295. Count total number of warnings

# --- Intermediate (4-6/10) ---
#296. Parse log file into structured dictionary (timestamp, level, message)
#297. Group log entries by log level (INFO, ERROR, WARNING)
#298. Find longest log line
#299. Count number of entries per day
#300. Extract all failed login attempts
#301. Count number of unique users from logs
#302. Find top 5 most frequent IPs
#303. Calculate error percentage vs total logs
#304. Write filtered ERROR logs into error_log.txt
#305. Set up a real-time dashboard (using pandas + matplotlib) to plot error counts per hour

# ðŸš€ Python API Practice Questions
#306. Make a GET request to 'https://jsonplaceholder.typicode.com/posts/1' and print the response
#307. Fetch all posts and count how many there are
#308. Extract the title of post with ID=10
#309. Get all posts by userId=1
#310. Post new data to API (title, body, userId)
#311. Update post with PUT request
#312. Delete post with DELETE request
#313. Handle failed request (wrong URL) with try/except
#314. Fetch comments for a specific post
#315. Write all post titles to a file
#316. Automate multiple API calls with loop
#317. Combine API response into a pandas DataFrame
#318. Save API response as JSON file
#319. Schedule API call every 1 hour
#320. Authenticate API request with headers
#321. Parse nested JSON response
#322. Flatten JSON response into table
#323. Extract specific fields from API response
#324. Combine multiple API endpoints (posts + comments)
#325. Send POST request with JSON payload
#326. Send POST request with form-data payload
#327. Fetch data with query parameters (?userId=2)
#328. Handle pagination in API response
#329. Retry API call on failure
#330. Measure API call response time
#331. Log all API requests and responses
#332. Mock API response for testing
#333. Call external weather API and parse temperature
#334. Call stock API and get latest price
#335. Call currency conversion API
#336. Call news API and extract headlines
#337. Visualize API data with matplotlib
#338. Store API data into database
#339. Compare API data across multiple endpoints
#340. Implement exponential backoff on API retries
#341. Handle rate limiting from API
#342. Use session object for persistent connections
#343. Stream API data continuously
#344. Process real-time events from API
#345. Integrate API data with local database (SQLite or PostgreSQL)

# --- Section 3: Database & SQL Integration ---
#346. Connect to SQLite, MySQL, or PostgreSQL from Python
#347. Create table "students" (id, name, age, grade)
#348. Insert single row into students
#349. Insert multiple rows into students
#350. Select all rows from students
#351. Select rows with condition (age > 20)
#352. Update grade of a student
#353. Delete student by id
#354. Count number of rows in table
#355. Delete rows based on condition

# --- Section 4: Automation & Scripting ---
#356. Batch rename all .txt files in a directory sequentially
#357. Move all .log files to archive folder
#358. Delete files older than 30 days
#359. Automate daily backup of folder
#360. Compress folder into zip file
#361. Extract files from zip
#362. Send automated email with attachment
#363. Schedule script to run every day at 9 AM
#364. Automate downloading file from URL
#365. Create reusable functions for repetitive tasks

# --- Section 5: Error Handling & Debugging ---
#366. Catch and log a ConnectionError when calling an API
#367. Handle FileNotFoundError for log.txt
#368. Use try/except/finally for file operations
#369. Raise custom exception on invalid input
#370. Retry failed operation with exception handling
#371. Log errors to a file error.log
#372. Use assert to validate conditions
#373. Use warnings module to show non-critical issues
#374. Debug code with pdb
#375. Profile code performance with cProfile

# --- Section 6: Monitoring & Notifications ---
#376. Monitor CPU and memory usage using psutil
#377. Log system resource usage every minute
#378. Send alert if CPU usage > 80%
#379. Send email if log file contains CRITICAL
#380. Monitor size of log.txt
#381. Track number of requests per second
#382. Build health check endpoint for service
#383. Implement retry with exponential backoff
#384. Push system metrics to monitoring dashboard
#385. Send real-time notifications on critical events

# --- Section 7: Data Analysis & Visualization ---
#386. Load log.txt into pandas DataFrame
#387. Count number of ERROR, WARNING, INFO using pandas
#388. Group log entries by hour
#389. Create histogram of log message lengths
#390. Create bar chart of log levels frequency
#391. Create time-series plot of errors per day
#392. Save pandas DataFrame to CSV
#393. Load CSV into pandas and filter rows
#394. Pivot table: errors per day
#395. Create interactive plots using plotly

# --- Section 8: Concurrency & Performance ---
#396. Use threading for I/O-bound tasks
#397. Use multiprocessing for CPU-bound tasks
#398. Use asyncio for concurrent API requests
#399. Benchmark sequential vs threaded API calls
#400. Implement producer-consumer model with queue
#401. Use concurrent.futures ThreadPoolExecutor
#402. Use concurrent.futures ProcessPoolExecutor
#403. Limit number of concurrent API requests
#404. Implement async file read/write
#405. Benchmark different algorithms for log parsing

# --- Section 9: Advanced / System Integration ---
#406. Parse JSON, XML, CSV from logs
#407. Stream logs line by line efficiently
#408. Use regex to parse Apache/Nginx logs
#409. Integrate with Kafka to stream log events
#410. Use Elasticsearch to index and query logs
#411. Visualize logs with Kibana
#412. Integrate with Grafana dashboard
#413. Build real-time alert system with WebSocket
#414. Automate Slack/Teams alerts on incidents
#415. Design postmortem checklist for incidents

# --- Section 10: Miscellaneous / Tesla-Specific ---
#416. Convert timestamps from logs to UTC
#417. Parse Tesla-style CAN bus data from hex
#418. Process vehicle sensor data from CSV
#419. Calculate battery efficiency from log data
#420. Plot charging curve (voltage vs time)
#421. Detect anomalies in autopilot logs
#422. Analyze manufacturing line sensor data
#423. Predict maintenance needs from usage logs
#424. Track downtime events from logs
#425. Build dashboard of production metrics
#426. Automate defect detection alerts
#427. Extract VIN numbers from vehicle logs
#428. Map GPS data points from logs on folium map
#429. Calculate trip efficiency (distance vs energy used)
#430. Compare actual vs expected production rate
#431. Analyze employee shift logins from system data
#432. Automate weekly summary report of logs
#433. Create alert if error rate > threshold
#434. Predict log volume growth using ML
#435. Document scripts and maintain troubleshooting guides

# Tesla Application Support Engineer (Gigafactory Berlin) - Pandas Practice Questions
# -------------------------------------------------------------
# This file contains 100 pandas questions tailored to the role.
# Use it as a hands-on practice sheet in Jupyter/VSCode.

# --- Section 1: Basics & Data Loading ---
#436. Import pandas and check the version
#437. Read a CSV file into a DataFrame
#438. Read only specific columns from a CSV
#439. Read an Excel file into pandas
#440. Load JSON data into pandas
#441. Display the first 5 and last 5 rows of a DataFrame
#442. Show DataFrame shape (rows, columns)
#443. Display column names and their datatypes
#444. Check memory usage of a DataFrame
#445. Convert a column to a specific dtype (int, float, datetime)

# --- Section 2: Data Cleaning ---
#446. Drop missing values from a DataFrame
#447. Fill missing values with mean/median/mode
#448. Replace all negative values in a column with 0
#449. Remove duplicate rows
#450. Standardize text: lowercase, strip whitespace, uppercase
#451. Rename multiple columns at once
#452. Reorder columns in a DataFrame
#453. Apply a custom function to clean a column
#454. Handle infinite values (replace or drop)
#455. Normalize numeric columns (min-max scaling)

# --- Section 3: Indexing & Selection ---
#456. Select a single column
#457. Select multiple columns
#458. Select rows by index
#459. Select rows where a condition is true
#460. Use .iloc[] vs .loc[]
#461. Get a row by its label
#462. Select rows based on multiple conditions (AND/OR)
#463. Filter rows where column contains a substring
#464. Select a slice of rows (like 100:200)
#465. Check if a value exists in a column

# --- Section 4: Aggregations & GroupBy ---
#466. Count number of rows per group
#467. Calculate mean/median/max per group
#468. Find percentage of each category in a column
#469. Group by multiple columns
#470. Use .agg() with multiple functions
#471. Find the group with the highest value in a column
#472. Pivot table: summarize sales by product & region
#473. Crosstab: frequency table of two columns
#474. Rank rows within each group
#475. Calculate cumulative sum per group

# --- Section 5: Time Series ---
#476. Convert a column to datetime
#477. Extract year, month, day, hour from datetime
#478. Set datetime as index
#479. Resample logs per hour/day/week
#480. Calculate rolling average of sensor values
#481. Find peak production time per day
#482. Filter logs within a specific date range
#483. Create lag features (previous dayâ€™s value)
#484. Count number of events per shift (8-hour windows)
#485. Calculate uptime/downtime percentages

# --- Section 6: Merging & Joining ---
#486. Merge two DataFrames on a key
#487. Merge with multiple keys
#488. Inner vs left vs right vs outer join
#489. Join logs with shift schedules
#490. Concatenate DataFrames vertically
#491. Concatenate DataFrames horizontally
#492. Merge DataFrame with different column names (left_on, right_on)
#493. Join data with hierarchical index
#494. Merge with suffixes to handle duplicate column names
#495. Check for unmatched records after merge

# --- Section 9: File I/O & Efficiency ---
#516. Save DataFrame to CSV/Excel/JSON
#517. Save only selected columns
#518. Save DataFrame with compression (gzip)
#519. Load large CSV in chunks
#520. Append new rows to an existing CSV
#521. Export multiple DataFrames to one Excel (different sheets)
#522. Save to SQL database using pandas
#523. Load from SQL database into pandas
#524. Read log files in streaming mode (line by line)
#525. Optimize dtypes for large datasets

# --- Section 10: Tesla-Specific ---
#526. Count number of ERROR logs per machine per day
#527. Detect machines with > 5% downtime
#528. Aggregate sensor readings (temperature, voltage, pressure) per hour
#529. Compare actual vs expected material flow
#530. Detect spikes in error rates over time
#531. Merge production data with operator shifts
#532. Track top 5 machines with most frequent errors
#533. Identify days when error rates exceed a threshold
#534. Parse JSON log messages into structured columns
#535. Build a monitoring DataFrame that flags late jobs

## --- Regular Expression ---
#536. Check if a string contains only digits.
#537. Check if a string contains only alphabets.
#538. Check if a string contains only alphanumeric characters.
#539. Check if a string starts with a specific word.
#540. Check if a string ends with a specific word.
#541. Find all occurrences of a substring in a string.
#542. Check if a string contains a specific pattern (e.g., "cat" in "concatenate").
#543. Extract all numbers from a string.
#544. Extract all words starting with a capital letter.
#545. Extract all email addresses from a string.
#546. Extract all URLs from a string.
#547. Extract all hashtags from a text.
#548. Extract all dates in the format DD/MM/YYYY or YYYY-MM-DD.


#549. Extract all phone numbers with different formats.
#550. Replace all digits in a string with "#".
#551. Replace multiple spaces with a single space.
#552. Replace all vowels with "*".
#553. Mask all email addresses in a text for privacy.
#554. Replace all non-alphanumeric characters with underscores.
#555. Split a string by multiple delimiters (e.g., ",", ";", ":").
#556. Split a string by whitespace, ignoring multiple spaces.
#557. Validate if a string is a valid email address.
#558. Validate if a string is a valid URL.
#559. Validate if a string is a valid IPv4 or IPv6 address.
#560. Validate a strong password (uppercase, lowercase, digits, special chars, min length).
#561. Validate dates in a specific format.
#562. Validate phone numbers with country codes.
#563. Find all overlapping matches in a string.
#564. Match repeated patterns (e.g., "abcabc").
#565. Match strings that do not contain certain characters.
#566. Extract text between two markers (e.g., between <title> and </title>).
#567. Use lookahead and lookbehind assertions.
#568. Use capturing groups and extract group values.
#569. Match nested patterns (e.g., parentheses content).
#570. Case-insensitive matching.
#571. Multi-line matching using flags.
#572. Dotall mode to match newline characters.
#573. Remove HTML tags from a string.
#574. Extract all CSS/JS class or ID names from HTML.
#575. Validate and parse log files (timestamps, IPs, messages).
#576. Find all hex colors (#AABBCC) in a CSS file.
#577. Extract JSON-like key-value pairs from text.
#578. Extract hashtags and mentions from social media text.
#579. Detect repeated words in a sentence.
#580. Count words or numbers matching a pattern in a text.
#581. Check if string contains only alphabets and digits (isalnum + regex).
#582. Extract words of a specific length from a sentence.
#583. Replace repeated whitespace characters with a single space.
#584. Extract domain names from email addresses.
#585. Validate hexadecimal numbers.
#586. Extract all punctuation marks from a string.
#587. Find all words ending with a specific suffix.
#588. Extract first letters of all words in a string.
#589. Replace all non-digit characters in a string with empty string.
#590. Count all vowels in a string using regex.
#591. Find all sequences of consecutive digits in a string.
#592. Split a string into sentences using regex.
#593. Remove all HTML tags and extra spaces from text.
#594. Extract all monetary amounts from a string (e.g., $123.45).
#595. Validate a time string in HH:MM format.
#596. Check if string contains only whitespace.
#597. Extract words containing at least one digit.
#598. Match strings starting and ending with the same character.
#599. Extract words not starting with a vowel.
#600. Replace multiple punctuation marks with a single period.
#601. Validate MAC addresses.
#602. Extract text inside quotes (single or double).
#603. Extract all capitalized words.
#604. Extract all lowercase words.
#605. Find all repeated words in a text.
#606. Extract all IP addresses from a log file.
#607. Validate social security numbers.
#608. Extract text between two specific words.
#609. Find all numbers with optional decimal points.
#610. Validate US phone numbers with optional area code.
#611. Extract tags from XML/HTML content.
#612. Remove all special characters from a string.
#613. Extract file extensions from filenames.
#614. Extract first N characters from each word in a sentence.
#615. Check if a string contains only ASCII characters.
#616. Replace sequences of digits with a fixed number.
#617. Extract words starting with uppercase but ending with lowercase.
#618. Extract all words longer than N characters.
#619. Validate a password with at least one uppercase, lowercase, digit, and special char.
#620. Count occurrences of each word in a sentence using regex.
#621. Find first non-repeating word in a sentence.
#622. Extract all words containing at least one vowel.
#623. Replace all digits with their word equivalents (1 â†’ one, etc.).
#624. Extract domain from URL (without subdomains).
#625. Validate hexadecimal color codes (#RRGGBB).
#626. Extract numbers embedded in words (e.g., abc123 â†’ 123).
#627. Find first repeating character in a string.
#628. Find last occurrence of a substring without using built-in functions.
#629. Check if string is isogram (no repeating letters).
#630. Find edit distance between two strings.

#631. Detect duplicate part IDs
part_ids = [101, 102, 103, 101, 104, 102, 105]
# Task: Find and print duplicate part IDs

#632. Find first occurrence in a sorted list of timestamps
timestamps = ["14:30:00", "14:32:10", "14:35:00", "14:40:05"]
target = "14:35:00"
# Task: Find the index of the first timestamp >= target

#633. Sort production data by timestamp then machine ID
production_data = [
    {"part_id": 101, "timestamp": "14:32", "machine_id": 2},
    {"part_id": 102, "timestamp": "14:32", "machine_id": 1},
    {"part_id": 103, "timestamp": "14:30", "machine_id": 3},
]
# Task: Sort by timestamp ascending, then machine_id ascending

#634. Process tasks by priority
tasks = [
    (3, "Inspect Machine A"),
    (1, "Fix Conveyor Belt"),
    (2, "Replace Filter")
]
# Task: Process tasks from highest priority to lowest

#635. Workflow dependencies (topological sort)
dependencies = {
    "PartA": ["PartB", "PartC"],
    "PartB": [],
    "PartC": ["PartB"]
}
# Task: Determine a valid order to process all parts

#636. Automate report generation: total parts per machine
production_logs = [
    {"machine_id": 1, "part_id": 101},
    {"machine_id": 2, "part_id": 102},
    {"machine_id": 1, "part_id": 103},
]
# Task: Generate total parts produced per machine

#637. Find missing parts in a production batch
expected_parts = list(range(101, 106))  # 101,102,103,104,105
produced_parts = [101, 102, 104, 105]
# Task: Identify missing part IDs

#638. Extract error logs from CSV
logs = [
    "INFO: Machine started",
    "ERROR: Machine stopped",
    "INFO: Maintenance complete",
    "ERROR: Conveyor jammed"
]
# Task: Extract and print only rows containing "ERROR"

#639. Simulate a production task queue
task_queue = ["TaskA", "TaskB", "TaskC"]
# Task: Continuously process and remove tasks from the queue

#640. Check for machines producing zero parts in the last hour
machine_production = {
    "Machine1": 10,
    "Machine2": 0,
    "Machine3": 5
}
# Task: Print alert if any machine produced 0 parts

#641. SQL: Total parts produced per machine
"""
-- Table: production_logs(machine_id, part_id, timestamp)
-- Sample data:
-- 1,101,'2025-10-08 10:00'
-- 2,102,'2025-10-08 10:05'
-- 1,103,'2025-10-08 10:10'

-- Task: SQL query to get total parts produced per machine
-- SELECT machine_id, COUNT(*) AS total_parts
-- FROM production_logs
-- GROUP BY machine_id;
"""

#642. SQL: Find missing part IDs
"""
-- Table: production_logs(part_id, machine_id, timestamp)
-- Expected parts: 101,102,103,104
-- Produced parts: 101,102,104

-- Task: SQL query to find missing part IDs
-- SELECT expected.part_id
-- FROM (VALUES (101),(102),(103),(104)) AS expected(part_id)
-- LEFT JOIN production_logs pl ON expected.part_id = pl.part_id
-- WHERE pl.part_id IS NULL;
"""

#643. SQL: Top 5 machines with most ERROR messages
"""
-- Table: system_logs(machine_id, timestamp, message)
-- Sample data:
-- 1,'2025-10-08 10:00','ERROR: Machine stopped'
-- 2,'2025-10-08 10:05','INFO: Maintenance'
-- 1,'2025-10-08 10:10','ERROR: Conveyor jammed'

-- Task: SQL query to find top 5 machines with most ERRORs
-- SELECT machine_id, COUNT(*) AS error_count
-- FROM system_logs
-- WHERE message LIKE 'ERROR%'
-- GROUP BY machine_id
-- ORDER BY error_count DESC
-- LIMIT 5;
"""

#644. SQL: Average production time per machine
"""
-- Table: production_logs(machine_id, part_id, start_time, end_time)
-- Sample data:
-- 1,101,'10:00','10:15'
-- 1,102,'10:20','10:40'
-- 2,103,'10:05','10:25'

-- Task: SQL query to calculate average production time per machine
-- SELECT machine_id, AVG(strftime('%s', end_time) - strftime('%s', start_time)) AS avg_time_seconds
-- FROM production_logs
-- GROUP BY machine_id;
"""

#645. SQL: Parts produced but not reached warehouse
"""
-- Tables:
-- production_logs(part_id, machine_id, timestamp)
-- material_flow(part_id, warehouse_id, timestamp)
-- Sample data:
-- production_logs: 101,102,103
-- material_flow: 101,103

-- Task: SQL query to find parts produced but never reached warehouse
-- SELECT part_id
-- FROM production_logs
-- WHERE part_id NOT IN (SELECT part_id FROM material_flow);
"""

'\n-- Tables:\n-- production_logs(part_id, machine_id, timestamp)\n-- material_flow(part_id, warehouse_id, timestamp)\n-- Sample data:\n-- production_logs: 101,102,103\n-- material_flow: 101,103\n\n-- Task: SQL query to find parts produced but never reached warehouse\n-- SELECT part_id\n-- FROM production_logs\n-- WHERE part_id NOT IN (SELECT part_id FROM material_flow);\n'

# Python data types practice

## A. Strings (str)

1. Create a string variable and print its length.

In [2]:
name = "Nandu Prasad"

print(name)

Nandu Prasad

2. Convert "hello world" to uppercase.

In [3]:
name = "Nandu"

name_upper = name.upper()
print(name_upper)

NANDU

3. Convert "HELLO" to lowercase.

In [4]:
text = "HELLO"

text_lower = text.lower()
print(text_lower)

hello

4. Capitalize the string "python".

In [5]:
text = "python"

text_capitalize = text.capitalize()
print(text_capitalize)

Python

5. Title-case the string "welcome to python".

In [6]:
text = "welcome to python"

text_title = text.title()
print(text_title)

Welcome To Python

6. Count how many times "o" appears in "hello world".

In [7]:
text = "hello world"

text_count = text.count("o")
print(text_count)

2

7. Replace "world" with "Python" in "hello world".

In [8]:
text = "hello world"

text_replace = text.replace("world", "Python")
print(text_replace)

hello Python

8. Find the index of "w" in "hello world".

In [9]:
text = "hello world"

text_index = text.index("w")
print(text_index)

6

9. Check if "123" is numeric.

In [10]:
text = "123"

text_isnumeric = text.isnumeric()
print(text_isnumeric)

True

10. Check if "Python3" is alphanumeric.

In [12]:
text = "Python3"

text_isalnum = text.isalnum()
print(text_isalnum)

True

11. Slice "Programming" to get "gram".

In [13]:
text = "Programming"
text_slice = "gram"

print(text[text.index(text_slice):(text.index(text_slice) + len(text_slice))])

gram

12. Reverse the string "Python".

In [14]:
text = "Python"

text_reversed = text[::-1]
print(text_reversed)

nohtyP

13. Join ["a","b","c"] with "-" â†’ "a-b-c".

In [15]:
sample_list = ["a","b","c"]

text_joined = "-".join(sample_list)
print(text_joined)

a-b-c

14. Split "a,b,c" by ",".

In [16]:
text = "a,b,c"

result = text.split(",")
print(result)

['a', 'b', 'c']

15. Strip whitespace from "   hello   ".

In [18]:
text = " hello "

result = text.strip()
print(result)
print(len(result))

hello
5

16. Check if string starts with "Py".

In [19]:
text = "Python"

result = text.startswith("Py")
print(result)

True

17. Check if string ends with "on".

In [20]:
text = "Python"

result = text.endswith("on")
print(result)

True

18. Convert "python" to list of characters.

In [25]:
text = "python"

result = list(text)
print(result)

['p', 'y', 't', 'h', 'o', 'n']

19. Format string: "My name is {} and age is {}" with "Nandu", 25.

In [27]:
name = "Nandu"
age = 25

print("My name is {} and age is {}".format(name, age))

My name is Nandu and age is 25

20. Use f-string to display name="Nandu", age=25.

In [28]:
name = "Nandu"
age = 25

print(f"My name is {name} and age is {age}")

My name is Nandu and age is 25

21. Count vowels in a string.

In [35]:
text = "aeiougfhjkgf"
vowels = "aeiou"

result = sum(1 for x in text if x.lower() in vowels)
print(result)

5

22. Check palindrome string.

In [36]:
text = "amma"

result = text[::-1]
print("Yes" if text == result else "No")

Yes

23. Find longest word in a sentence.

In [42]:
text = "Find longest word in a sentence."
longest_word = ""

for word in text.split(" "):
  if len(word) > len(longest_word):
    longest_word = word

print(longest_word)

sentence.

In [43]:
max(text.split(), key=lambda w: len(w.strip(".,!?;:")))

'sentence.'

24. Replace vowels in a string with "*".

In [49]:
text = "Hi how are you doing"

result = "".join("*" if x.lower() in "aeiou" else x for x in text)
print(result)

H* h*w *r* y** d**ng

25. Remove punctuation from "Hello, World!".

In [51]:
import string

text = "Hello, World!"

result = "".join(x for x in text if x not in string.punctuation)
print(result)

Hello World

26. Check if two strings are anagrams.

In [54]:
text_x = "anam"
text_y = "aamn"

result = ("Yes" if sorted(text_x) == sorted(text_y) else "No")
print(result)

Yes

27. Concatenate two strings.

In [57]:
text_x = "Nandu"
text_y = "Prasad"

text_combined = text_x + text_y
print(text_combined)

text_combined_updated = text_x + " " + text_y
print(text_combined_updated)

NanduPrasad
Nandu Prasad

28. Repeat "Hi" 5 times.

In [58]:
text = "Hi"

result = text*5
print(result)

HiHiHiHiHi

29. Compare two strings ignoring case.

In [60]:
text_x = "NANDU"
text_y = "nandu"

result = text_x.casefold() == text_y.casefold()
print(result)

True

30. Find frequency of each character in a string.

In [62]:
text = "frequency"
freq_dict = {}

for i in text:
  if i not in freq_dict:
    freq_dict[i] = 1
  else:
    freq_dict[i] += 1

print(freq_dict)

{'f': 1, 'r': 1, 'e': 2, 'q': 1, 'u': 1, 'n': 1, 'c': 1, 'y': 1}

In [63]:
freq_dict = {}

for i in text:
    freq_dict[i] = freq_dict.get(i, 0) + 1

print(freq_dict)

{'f': 1, 'r': 1, 'e': 2, 'q': 1, 'u': 1, 'n': 1, 'c': 1, 'y': 1}

31. Check if string contains only alphabets.

In [67]:
text_x = "alphabets"
text_y = "alphabets1"

result_x = text_x.isalpha()
print(result_x)

result_y = text_y.isalpha()
print(result_y)

True
False

32. Encode "hello" to bytes.

In [73]:
text = "hello"

encoded_bytes = text.encode()
print(encoded_bytes)

b'hello'

33. Decode b"hello" to string.

In [74]:
text = b"hello"

decoded_bytes = text.decode("utf-8")
print(decoded_bytes)

hello

34. Reverse words in a sentence.

In [79]:
text = "Reverse words in a sentence"

print(" ".join(text.split()[::-1]))

sentence a in words Reverse

35. Find first non-repeating character in a string.

In [87]:
text = "character"

for char in text:
  if text.count(char) == 1:
    print(char)
    break

h

In [88]:
from collections import Counter

text = "character"
freq = Counter(text)

for char in text:
    if freq[char] == 1:
        print(char)
        break

h

36. Remove duplicates from a string.

In [99]:
text = "duplicatesss"
seen = set()

reuslt = "".join(char for char in text if not (char in seen or seen.add(char)))
print(result)

duplicates

37. Count words in a sentence.

In [105]:
text = "Count words in a sentence"

result = len(text.split(" "))
print(result)

5

38. Convert string "100" to integer.

In [107]:
text = "100"

result = int(text)
print(f"result: {result}\ntype: {type(result)}")

result: 100
type: <class 'int'>

39. Convert integer 100 to string.

In [109]:
x = 100

print(f"Previous type: {type(x)}\nResult: {str(x)}\nNew type: {type(str(x))}")

Previous type: <class 'int'>
Result: 100
New type: <class 'str'>

40. Extract numbers from "abc123def".

In [113]:
text = "abc123def"

result = "".join(char for char in text if char.isnumeric())
print(result)

123

41. Check if string is empty.

In [115]:
text = ""

print("Empty string" if len(text) == 0 else "Not an emplty string.")

Empty string

42. Replace spaces with "_".

In [116]:
text = "Replace spaces with"

result = text.replace(" ", "_")
print(result)

Replace_spaces_with

43. Swap case of "Hello World".

In [117]:
text = "Hello World"

result = text.swapcase()
print(result)

hELLO wORLD

44. Find substring without using built-in find.

In [119]:
text = "hello world"
sub = "world"

for i in range(len(text)):
  if text[i:i+len(sub)] == sub:
    print(f"Substring found at index: {i}")
    break

Substring found at index: 6

45. Compress string "aaabb" â†’ "a3b2".

In [127]:
text = "aaabb"
result = ""
count = 1

for i in range(len(text)):
  if i < len(text) - 1 and text[i] == text[i+1]:
    count +=1
  else:
    result += text[i] + str(count)
    count = 1
print(result)

a3b2

46. Expand "a3b2" â†’ "aaabb".

In [143]:
text = "a3b2"
result = ""

for i in range(0,len(text),2):
  result += str(text[i]) * int(text[i+1])

print(result)

aaabb

47. Check rotation: "abc" & "cab".

In [146]:
text_x = "cab"
text_y = "bca"

if len(text_x) == len(text_y) and text_y in text_x + text_x:
  print("Rotation")
else:
  print("Not a rotation")

Rotation

48. Remove first and last character.

In [149]:
text = "character"

result = text[1:len(text)-1]
print(result)

haracte

49. Insert substring into a string.

In [156]:
text = "Insert substring"
sub = "into"

result = text[:7] + sub + text[6:]
print(result)

Insert into substring

50. Generate all substrings of "abc".

In [165]:
text = "abc"
substrings = []

for i in range(len(text)):
  for j in range(i+1, len(text) + 1):
    substrings.append(text[i:j])

print(substrings)

['a', 'ab', 'abc', 'b', 'bc', 'c']

51. Count occurrences of each word in sentence.

52. Remove specific word from sentence.

53. Find common characters between two strings.

54. Sort characters of a string.

55. Check if one string is substring of another.

56. Find all positions of "a" in a string.

57. Replace multiple spaces with single space.

58. Count uppercase letters in a string.

59. Count lowercase letters in a string.

60. Check if string contains digits.

61. Extract domain from email.

62. Mask email (n***u@gmail.com).

63. Validate simple email format with regex.

64. Extract hashtags from "#python #coding".

65. Extract mentions from "@nandu hello".

66. Extract URL from text.

67. Remove HTML tags from "Hello".

68. Escape special characters.

69. Unescape "\n" and print properly.

70. Count sentences in a paragraph.

71. Find most frequent word.

72. Find least frequent word.

73. Replace numbers with "#".

74. Extract numbers only.

75. Extract alphabets only.

76. Check strong password (length, digit, upper).

77. Encode string to base64.

78. Decode base64 string.

79. ROT13 encryption.

80. Caesar cipher encryption.

81. Reverse Caesar cipher.

82. Generate acronym from sentence.

83. Find substring using regex.

84. Replace multiple words with regex.

85. Extract email IDs using regex.

86. Extract phone numbers using regex.

87. Extract dates from text.

88. Convert snake_case to camelCase.

89. Convert camelCase to snake_case.

90. Find longest palindrome substring.

91. Check pangram.

92. Find missing letters in alphabet.

93. Find duplicate words in a string.

94. Check if string is isogram (no repeating letters).

95. Find edit distance between two strings.

96. Implement KMP string search.

97. Implement Rabin-Karp string search.

98. Implement Boyer-Moore string search.

99. Encode run-length compression.

100. Convert "Python3.9" to remove all non-alphabet characters â†’ "Python".

## B. Integers & Floats

101. Add two integers.

102. Divide 7 / 2 and get float result.

103. Divide 7 // 2 and get integer result.

104. Find remainder of 25 % 4.

105. Raise 2 to the power of 5.

106. Convert string "100" to integer.

107. Convert float 3.5 to integer.

108. Round 3.14159 to 2 decimal places.

109. Get absolute value of -50.

110. Compare if 10 > 7.

111. Check if number is even.

112. Check if number is odd.

113. Find factorial of 5.

114. Generate Fibonacci sequence.

115. Find GCD of 24 and 36.

116. Find LCM of 12 and 15.

117. Convert integer to binary.

118. Convert binary to integer.

119. Convert integer to hexadecimal.

120. Convert hexadecimal to integer.

121. Convert float to string.

122. Check if float is integer.

123. Find square root of 16.

124. Find cube root of 27.

125. Truncate float 3.999 â†’ 3.

126. Floor division using math.floor.

127. Ceiling using math.ceil.

128. Generate random integer.

129. Generate random float.

130. Round float to nearest integer.

## C. Complex Numbers

131. Create a complex number 3 + 4j.

132. Get the real part of 3 + 4j.

133. Get the imaginary part of 3 + 4j.

134. Find conjugate of 3 + 4j.

135. Add (2 + 3j) and (4 + 5j).

136. Subtract (5 + 6j) - (2 + 3j).

137. Multiply (1+2j)(2+3j).

138. Divide (4+6j)/(1+2j).

139. Find absolute value of complex number.

140. Convert polar to rectangular form.

## D. Lists

141. Create a list [1, 2, 3, 4].

142. Append 5 to the list.

143. Insert 10 at index 2.

144. Remove element 3.

145. Pop last element.

146. Sort list ascending.

147. Sort list descending.

148. Reverse list.

149. Get max from list.

150. Get min from list.

151. Get sum of list.

152. Find length of list.

153. Count occurrences of 2.

154. Extend list with [6,7].

155. Slice first 3 elements.

156. Copy list.

157. Clear list.

158. Nested list [[1,2],[3,4]] access element.

159. List comprehension [x*2 for x in range(5)].

160. Flatten nested list.

161. Find unique elements in list.

162. Find common elements in two lists.

163. Remove duplicates.

164. Merge two lists.

165. Convert list to string.

166. Convert string to list.

167. Check if list is empty.

168. Find second largest element.

169. Find kth smallest element.

170. Rotate list by 2 positions.

171. Partition list into even and odd.

172. Find missing number in list.

173. Check if list is palindrome.

174. Find frequency of elements.

175. Find intersection of multiple lists.

176. Find union of multiple lists.

177. Implement bubble sort.

178. Implement selection sort.

179. Implement insertion sort.

180. Implement merge sort.

181. Implement quick sort.

182. Implement binary search.

183. Implement linear search.

184. Split list into chunks of size 3.

185. Find cumulative sum of list.

186. Replace negative numbers with 0.

187. Square each number in list.

188. Filter only even numbers.

189. Filter only odd numbers.

190. Map function to double list elements.

191. Reduce to find product of list.

192. Zip two lists together.

193. Unzip list of tuples.

194. Enumerate list with index.

195. Find index of element 4.

196. Remove all occurrences of 2.

197. Check if list contains element.

198. Compare two lists.

199. Find difference of lists.

200. Use list comprehension to get squares of [1,2,3,4].

## E. Tuples